{% extends 'base.html' %}
{% load myfun %}
{% block Title %}
<title>首页</title>
{% endblock %}
{% block body %}
{# 身体 #}
<!-- 代码begin -->
<div class="flexslider">
    <ul class="slides">
        {% for a in ads %}


        <li style="background: url(/media/{{a.img}}) 50% 0 no-repeat; z-index:1"><a
                href="#" class="lj">{{a.desc}}</a></li>
        {% endfor %}
    </ul>
</div>
<!-- 代码end -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.flexslider-min.js"></script>
<script>
$(function(){
	$('.flexslider').flexslider({
		directionNav: true,
		pauseOnAction: false
	});
});


























</script>

<!--ad-->
<div class="w1000 clearfix overflow">
    <p><img src="/static/images/index_r11_c1.jpg"/></p>
</div>

<!--培训机构培训荟萃-->
<div class="wrap overflow pt30 bg_r1">
    <!--left-->
    <div class="w555 fl overflow">
        <div class="w100 overflow">
            <p class="fl tl"><em class="f24 red">培训机构荟萃</em><br/>
                <i class="fon_z f10 huise ">Training institutions</i></p>
            <span class="fr pt15"><img src="/static/images/index_r14_c16.jpg"/></span></div>
        <div class="w100 clearfix pt20 overflow huicui">
            <div class=" px_li1  overflow clearfix   ">
                <dl>
                    <dt>五星讲师</dt>
                    <dd>
                        {% get_stars_teachers as stars_teachers %}
                        {% for teacher in stars_teachers %}
                        <a href="#">{{teacher.name}}</a>
                        {% endfor %}


                    </dd>

                </dl>
                <dl>
                    <dt>四星讲师</dt>
                    <dd>
                        {% for teacher in teachers %}
                        {% if teacher.stars == 4 %}
                        <a href="#">{{teacher.name}}</a>

                        {% endif %}
                        {% endfor %}
                    </dd>
                </dl>
                <dl>
                    <dt>三星讲师</dt>
                    <dd>
                        {% for teacher in teachers %}
                        {% if teacher.stars == 3 %}
                        <a href="#">{{teacher.name}}</a>

                        {% endif %}
                        {% endfor %}
                    </dd>
                </dl>


            </div>

        </div>
        <div class="w100 overflow clearfix">
            <ol class="fr mr10">
                <a href="#">查看更多</a> <img src="/static/images/index_r16_c22.jpg"/>
            </ol>
        </div>
    </div>
    <div class="w555 fr overflow">
        <div class="w100 overflow">
            <p class="fl tl"><em class="f24 red">培训分类信息</em><br/>
                <i class="fon_z f10 huise ">Training classified </i></p>
            <span class="fr pt15"><img src="/static/images/index_r14_c16.jpg"/></span></div>
        <div class="w100 clearfix pt20 overflow list_inf ">
            <ul>

                {% for category in categories %}
                <li><a href="#">{{category.name}}</a></li>
                {% endfor %}

            </ul>
        </div>
        <div class="w100 overflow clearfix pt10">
            <ol class="fr mr10">
                <a href="#">查看更多</a> <img src="/static/images/index_r16_c22.jpg"/>
            </ol>
        </div>
    </div>
</div>
<div class="bot_bg2 overflow clearfix "></div>
<div class="main_bg overflow clearfix">
    <!--最新培训信息-->
    <div class="wrap pt15 overflow clearfix">
        <p class="fl"><em class="f24 red">最新培训课程</em>&nbsp;&nbsp;&nbsp;<i class="fon_z  f10 huise ">Cloud
            classroom</i><br/>
            <img src="/static/images/index_r21_c9.jpg" class="fl pt5"/></p>
        <span class="bg_more fr  overflow"> <a href="#">查看更多 +</a> </span></div>
    <div class="wrap pt30 overflow clearfix">
        <!--left-->
        <div class="w400 fl overflow ">
            <div class="w100 bg_n1 overflow">
                {% get_hot_curriculum as hot_curriculum %}
                {% for curriculum in hot_curriculum%}
                <a href="{% url 'qikuapp:detail' curriculum.id %}"><img src="/static/images/index_r23_c8.jpg"
                                                                        width="218"
                                                                        height="158"
                                                                        class="fl"/></a>
                <ol class="fr">
                    <h5><a href="{% url 'qikuapp:detail' curriculum.id %}">{{curriculum.name}}</a></h5>
                    {{curriculum.introduce|truncatechars_html:50}}
                </ol>
                {% endfor%}
            </div>
            <div class="w100 pt30 overflow clearfix">
                <ul>
                    {% get_latest_curriculum 2 as latest_curriculum %}

                    {% for curriculum in latest_curriculum %}
                    <li><span>{{curriculum.create_time|date:'Y-m-d'}}</span><a
                            href="{% url 'qikuapp:detail' curriculum.id %}">{{curriculum.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!--right-->
        <div class="w760 fr overflow">
            <ul>
                {% get_latest_curriculum as latest_curriculum %}

                {% for curriculum in latest_curriculum %}
                <li><a href="{% url 'qikuapp:detail' curriculum.id %}"><img src="/static/images/index_r24_c21.jpg"
                                                                            width="220" height="143"/></a>
                    <h3><a href="{% url 'qikuapp:detail' curriculum.id %}">{{curriculum.name}}</a></h3>
                    <ol>
                        {{curriculum.introduce}}
                    </ol>
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>
    <div class="hr w100 mt20 overflow clearfix"></div>


</div>


<!--训训课堂-->
<div class="wrap pt30 overflow clearfix">
    <p class="fl"><em class="f24 red">最火热课程</em>&nbsp;&nbsp;&nbsp;<i class="fon_z  f10 huise ">Cloud classroom</i><br/>
        <img src="/static/images/index_r21_c9.jpg" class="fl pt5"/></p>
    <span class="bg_more fr  overflow"> <a href="#">查看更多 +</a> </span>
</div>

<div class="wrap pt30 overflow clearfix">
    <!--left-->
    <div class="w400 fl overflow ">
        {% get_hot_curriculum as hot_curriculum%}
        {% for curriculum in hot_curriculum%}
        <div class="w100 bg_n1 overflow"><a href="{% url 'qikuapp:detail' curriculum.id %}"><img
                src="/static/images/index_r23_c8.jpg" width="218" height="158"
                class="fl"/></a>
            <ol class="fr">
                {% endfor%}

                {% get_hot_curriculum as hot_curriculum%}
                {% for curriculum in hot_curriculum%}
                <h5><a href="{% url 'qikuapp:detail' curriculum.id %}">{{curriculum.name}}</a></h5>
                <div class="nr">{{curriculum.introduce|truncatechars_html:50}}</div>
                <div class="tl gw">
                    <i class="fl f16">￥{{curriculum.price}}</i>
                    <em><a href="{% url 'qikuapp:detail' curriculum.id %}"><img src="/static/images/gw.png" class="fr"/></a></em>
                </div>
                {% endfor%}

            </ol>
        </div>
        <div class="w100 pt30 overflow clearfix">
            <ul>
                {% for curriculum in curriculum %}
                <li><span>{{curriculum.name}}</span><a href="{% url 'qikuapp:detail' curriculum.id %}">{{curriculum.name}}简介</a>
                </li>

                {% endfor %}
            </ul>
        </div>
    </div>
    <!--right-->
    <div class="w760 fr overflow">
        <ul>

            {% for curriculum in curriculum %}
            <li>
                <p>
                    <a href="{% url 'qikuapp:detail' curriculum.id %}">
                        <img src="/static/images/index_r72_c38.jpg" width="212" height="123"/>
                        <em><img src="/static/images/index11.png"/></em>
                    </a>
                </p>

                <div class="gwh clearfix">
                    <a href="{% url 'qikuapp:detail' curriculum.id %}"><img src="/static/images/gw.png"
                                                                            class="fr pt10 pr10"/></a>
                    <span><a href="{% url 'qikuapp:detail' curriculum.id %}">{{curriculum.name}}</a></span><br/>
                    <i class="fl f16">￥{{curriculum.price}}</i>

                </div>
            </li>
            {% endfor %}

        </ul>
    </div>
</div>


{% endblock %}