{% extends 'base.html' %}
{% load myfun %}
{% block Title %}
<title>课程列表</title>
{% endblock %}
{% block body %}
<script type="/static/text/javascript">
var obj11 = document.getElementById("inner");
var top11 = getTop(obj11);
var isIE6 = /msie 6/i.test(navigator.userAgent);
window.onscroll = function(){

	var bodyScrollTop = document.documentElement.scrollTop || document.body.scrollTop;
	if (bodyScrollTop > top11){
		obj11.style.position = (isIE6) ? "absolute" : "fixed";
		obj11.style.top = (isIE6) ? bodyScrollTop + "px" : "0px";
	} else {
		obj11.style.position = "static";
	}
}
function getTop(e){

	var offset = e.offsetTop;
	if(e.offsetParent != null) offset += getTop(e.offsetParent);
	return offset;
}











</script>
<!--js-->
<div class="index_show">

    <ul class="bxslider" id="index-bxslider">
        {% for ads in ads2 %}
        <li class="item{{forloop.counter}}" style="background: url(/media/{{ads.img}}) center 0 no-repeat;"></li>
        {% endfor %}


    </ul>

    <div id="bx-pager">
        {% for ads in ads2 %}
        <a data-slide-index="{{forloop.counter0}}" href="javascript:void(0);">{{forloop.counter}}</a>
        {% endfor %}
    </div>

</div>

<script type="/static/text/javascript" src="/static/js/jQuery.v1.8.3-min.js"></script>
<script type="/static/text/javascript" src="/static/js/jquery.bxslider.min.js"></script>
<script type="/static/text/javascript" src="/static/js/zzsc.js"></script>
<!--路径-->
<div class="wrapp pt10 overflow clearfix f18 l-35">
    <p class="fl"><img src="/static/images/t.jpg" class="fl pt15 pr10"/> <a href="#">首页</a> > <em class="red">培训信息</em>
    </p>
</div>
<!--分类-->

<div class=" px_li  mt15 overflow clearfix  mb10 ">
    <dl>

        <dt>课程分类</dt>
        <dd>
            {% for category in categories %}
            <a href="/list?type=category&category_id={{category.id}}">{{category.name}}</a>

            {% endfor %}
        </dd>
    </dl>
    <dl>
        <dt>价格分类</dt>
        <dd>
            {% get_latest_curriculum_price as curriculum%}
            {% for curriculum in curriculum %}
            <a href="/list?type=price&curriculum_price={{curriculum.price}}">{{curriculum.price}}</a>

            {% endfor %}
        </dd>
    </dl>
    <dl>
        <dt>教师课程</dt>
        <dd>
            {% for teacher in teachers %}
            <a href="/list?type=teacher&teacher_id={{teacher.id}}">{{teacher.name}}</a>

            {% endfor %}
        </dd>
    </dl>

</div>


<div class="youthModel wrapp clearfix overflow">

    <ul class="modelList">
        {# 遍历所有课程{% for c in curriculum %} #}

        {% for c in page.object_list %}
        <li class="clearfix">
            <a target="_blank" class="modelImg" href="{% url 'qikuapp:detail' c.id %}"><img src="/static/images/martians_club.jpg"></a>
            <div class="modelRight tl">
                <a target="_blank" class="modelTitle" href="{% url 'qikuapp:detail' c.id %}">{{c.name}}</a>
                <div class="modelIntro tl">
                    {{c.introduce}}
                </div>
                <div class="w100 clearfix">
                    <ol class="fr pt5">已报名:<em class="red">{{c.user_set.all.count}}</em></ol>
                </div>
                <div class="w100 pt5 overflow clearfix tl">
                    授课时长：{{c.days}} (天)&nbsp; &nbsp; &nbsp; &nbsp; 讲师：{{c.teacher}}
                </div>
            </div>
        </li>

        {% endfor %}

    </ul>
</div>

<div class="page pt30 overflow clearfix pb25 ">
    <ul>
        <li class="fl">
            {% if page.has_previous %}
            <a href="/list?pagenum={{page.previous_page_number}}&type={{type_page}}&category_id={{category_id}}&teacher_id={{teacher_id}}">上一页</a>
            {% endif %}
            {% for pn in page.paginator.page_range %}
            {% if pn == page.number %}
            <a class="cur" href="/list?pagenum={{pn}}&type={{type_page}}&category_id={{category_id}}&teacher_id={{teacher_id}}">{{pn}}</a>
            {% else %}
            <a href="/list?pagenum={{pn}}&type={{type_page}}&category_id={{category_id}}&teacher_id={{teacher_id}}">{{pn}}</a>
            {% endif %}
            {% endfor %}
            {% if page.has_next %}

            <a href="/list?pagenum={{page.next_page_number}}&type={{type_page}}&category_id={{category_id}}&teacher_id={{teacher_id}}">下一页</a>
            {% endif %}

        </li>


        <li class="fr">
            <em class="fl">共{{page.paginator.num_pages}}页 到&nbsp;
                <input name="pagename" type="text" size="3" class="boderr" style="height:30px"/>&nbsp;页
            </em>
            <a href="/list?pagenum={{pagename}}&type={{type_page}}" class="cur fr">确定</a>
        </li>
    </ul>
</div>

{% endblock %}


