{% extends 'base.html' %}
{% load myfun %}
{% block Title %}
<title>购物车</title>

{% endblock %}
{% block body %}
{# 身体 #}



<script type="/static/text/javascript">
var obj11 = document.getElementById("inner");
var top11 = getTop(obj11);
var isIE6 = /msie 6/i.test(navigator.userAgent);
window.onscroll = function(){
 
	var bodyScrollTop = document.documentElement.scrollTop || document.body.scrollTop;
	if (bodyScrollTop > top11){
		obj11.style.position = (isIE6) ? "absolute" : "fixed";
		obj11.style.top = (isIE6) ? bodyScrollTop + "px" : "0px";
	} else {
		obj11.style.position = "static";
	}
}
function getTop(e){
 
	var offset = e.offsetTop;
	if(e.offsetParent != null) offset += getTop(e.offsetParent);
	return offset;
}
</script>
<!--js-->
<!--提交订单-->
<div class="wrapp pt50 overflow clearfix tl f18">
 确认订单信息
</div>
<div class="wrapp pt35 sp_list  overflow">
 <ul>
  <li class="sp_list_r1 tc f16">商品名称</li>
  <li class="sp_list_r2 tc f16">商品属性</li>
  <li class="sp_list_r3 tc f16">单价(元)</li>
 </ul>
</div>
<div class="wrapp pt35 sp_list  overflow">
<ul>
  <li class="sp_list_r1 tl f12 hui  ">
   <a href="#"><img src="/static/images/goumai_r1_c1.jpg" width="120" height="90" class="fl mr25"/></a>
   <a href="#" class="red f14">训教师教学事情</a><br />
    橘子味的你 经典气质小镇姗姗 橘子味的你 经典气质小镇姗姗 橘子味的你 经典气质小镇姗姗 橘子味的你 经典气质小镇姗姗 橘子味的你 经典气质
  </li>
  <li class="sp_list_r2  ">商业管理,体改资深教师经理</li>
  <li class="sp_list_r3 cs f18 fon_z  ">￥188</li>
 </ul>
</div>
<div class="wrapp overflow bg_g clearfix mt30">
 <ul>
  <li >运送方式: 普通配送快递￥10.00</li>
  <li>发货时间:卖家承诺订单在买家付款后, 30天内发货</li>
  <li>
  <script language="javascript" type="/static/text/javascript">

function goods_cut(){

var num_val=document.getElementById('number');

var new_num=num_val.value;

var Num = parseInt(new_num);

if(Num>1)Num=Num-1;

num_val.value=Num;

}

function goods_add(){

var num_val=document.getElementById('number');

var new_num=num_val.value;

var Num = parseInt(new_num);

Num=Num+1;

num_val.value=Num;

}
</script>
  <p class="fl mr10">使用积分:</p>
  <div  class="tc-amount fl pt10">
  <span class="goods_cut fl" onclick="goods_cut();changePrice();"><img src="/static/images/plus1.gif" alt="减少" width="15" height="15" /></span>
<input name="number" type="text" id="number" value="1" size="4" onblur="changePrice()" style="border:1px solid #ccc; " class="fl mt5"/>
<span class="goods_add fl" onclick="goods_add();changePrice();"><img src="/static/images/plus2.gif" alt="增加" width="15" height="15"  /></span>
  </div>
  <p class="fl hui f12 ml10">(目前你有<em class="f18 red">200</em>积分)</p>
  </li>
 </ul>
</div>

<div class="wrapp clearfix pt50 overflow tr l-35">
 <ul>
  <li class="tr">实付款：<em class="f24 red ">￥4329.20</em></li>
  <li class="tr">可获积分<em class="f18 red ">20</em></li>
  <li>
   <input type="button" value="提交订单" class="tjdd fr" />
  </li>
 </ul>
</div>
{% endblock %}