<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>训训网</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<!--标志搜索-->


<div class="log_bg overflow clearfix">
  <div class="wrapp overflow pt35">
    <p class="fl overflow"><img src="images/index_r2_c6.jpg" /></p>
    <dl class="fl pl90 pt10 overflow w515 ">
      <dt>
        <input type="text" class="ss_in" value="请输入关键字" onfocus="if(this.value=='请输入关键字'){this.value='';this.style.color='#333'}" onblur="if(this.value==''){this.value='请输入关键字';this.style.color='#aaa'}" x-webkit-grammar="bUIltin:search" x-webkit-speech="" maxlength="30" name="keyword" />
        <input type="button" class="an_bg" />
      </dt>
      <dd> <a href="#" class="f12 huise">管理提升培训</a> <a href="#" class="f12 huise">技术技能培训</a> <a href="#" class="f12 huise">资格认证培训</a> <a href="#" class="f12 huise">会计金融培训</a> </dd>
    </dl>
    <!--发布登录-->
    <dl class="w336 overflow  pt10 fr">
      <dt> <a href="#"><img src="images/index_r4_c33.jpg" class="fl" /></a>
        <ol class="f18 fr overflow">
          <a href="#">登录</a> | <a href="#" class="red">注册</a>
        </ol>
      </dt>
      <dd  > <img src="images/index_r6_c31.jpg" /> </dd>
    </dl>
  </div>
</div>

<!--nav-->


<div class="nav_bg overflow  clearfix" id ="inner">
  <div class="wrappp">
    <ul>
      <li style="background:none"><a href="#">首页 </a></li>
      <li><a href="#">培训信息 </a></li>
      <li><a href="#">会议信息 </a></li>
      <li><a href="#">训训专家库 </a></li>
      <li><a href="#">训训云课堂 </a></li>
      <li><a href="#">训训大讲堂 </a></li>
      <li><a href="#">免费公开课 </a></li>
      <li><a href="#">培训机构 </a></li>
      <li><a href="#">项目路演 </a></li>
      <li><a href="#">会议培训场地 </a></li>
      <li><a href="#">人才招聘 </a></li>
    </ul>
  </div>
</div>

<!--对号-->
<div class="dingd_bg overflow clearfix mt30 wrapp">
 <div class="pt40 tl l-24 pb50">
 <img src="images/duihao.png" class="fl mr30 ml50 " width="80"  height="80"/>
 <em class="f18 red pt20">订单提交成功，请尽快收款!</em><br />
 订单号：84304 <br />
 请您在2016-09-20前付清
 </div>
 
</div>
<div class="wrapp pt25 clearfix overflow">
 <h5 class="red f20 l-30 tl">选择支付防守</h5>
 <ul class="w100 zf clearfix">
  <li><input type="radio" /> <img src="images/zfb.jpg" /></li>
  <li><input type="radio" /> <img src="images/wx.jpg" /></li>
 </ul>
 <ol class="w100 clearfix pb25" style="margin-bottom:150px">
 <a href="#" class="bg11 fr" >立即支付</a>
 </ol>
</div>

<!--版权-->
<div class="copy_bg overflow clearfix w100">
 <div class="wrap overflow baise ">
  <p class="fl"><img src="images/index_r42_c7.jpg" /></p>
  <dl class="fl pl20">
  <dt><a href="#">首页</a>   <a href="#">培训信息</a>   <a href="#">会议信息</a>   <a href="#">专家信息</a>  <a href="#"> 场地信息</a>  <a href="#"> 在线培训</a>  <a href="#"> 培训机构</a>  <a href="#">  培训联盟</a>   <a href="#">人才招聘</a> 
  </dt>
  <dd>
  &copy; 2019 XX公司&nbsp;&nbsp;ICP备XXXXXXXX号&nbsp;&nbsp;技术支持：<a href="http://www.jsdaima.com/" title="js代码" target="_blank">js代码（www.jsdaima.com）</a> 
  </dd>
  </dl>
  <ol class="fr">
   <img src="images/index_r42_c38.jpg" />
  </ol>
 </div>
</div>

</body>
</html>
