<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>训训网</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<!--标志搜索-->


<div class="log_bg overflow clearfix">
  <div class="wrapp overflow pt35">
    <p class="fl overflow"><img src="images/index_r2_c6.jpg" /></p>
    <dl class="fl pl90 pt10 overflow w515 ">
      <dt>
        <input type="text" class="ss_in" value="请输入关键字" onfocus="if(this.value=='请输入关键字'){this.value='';this.style.color='#333'}" onblur="if(this.value==''){this.value='请输入关键字';this.style.color='#aaa'}" x-webkit-grammar="bUIltin:search" x-webkit-speech="" maxlength="30" name="keyword" />
        <input type="button" class="an_bg" />
      </dt>
      <dd> <a href="#" class="f12 huise">管理提升培训</a> <a href="#" class="f12 huise">技术技能培训</a> <a href="#" class="f12 huise">资格认证培训</a> <a href="#" class="f12 huise">会计金融培训</a> </dd>
    </dl>
    <!--发布登录-->
    <dl class="w336 overflow  pt10 fr">
      <dt> <a href="#"><img src="images/index_r4_c33.jpg" class="fl" /></a>
        <ol class="f18 fr overflow">
          <a href="#">登录</a> | <a href="#" class="red">注册</a>
        </ol>
      </dt>
      <dd  > <img src="images/index_r6_c31.jpg" /> </dd>
    </dl>
  </div>
</div>

<!--nav-->


<div class="nav_bg overflow  clearfix" id ="inner">
  <div class="wrappp">
    <ul>
      <li style="background:none"><a href="#">首页 </a></li>
      <li><a href="#">培训信息 </a></li>
      <li><a href="#">会议信息 </a></li>
      <li><a href="#">训训专家库 </a></li>
      <li><a href="#">训训云课堂 </a></li>
      <li><a href="#">训训大讲堂 </a></li>
      <li><a href="#">免费公开课 </a></li>
      <li><a href="#">培训机构 </a></li>
      <li><a href="#">项目路演 </a></li>
      <li><a href="#">会议培训场地 </a></li>
      <li><a href="#">人才招聘 </a></li>
    </ul>
  </div>
</div>
<script type="text/javascript">
var obj11 = document.getElementById("inner");
var top11 = getTop(obj11);
var isIE6 = /msie 6/i.test(navigator.userAgent);
window.onscroll = function(){
 
	var bodyScrollTop = document.documentElement.scrollTop || document.body.scrollTop;
	if (bodyScrollTop > top11){
		obj11.style.position = (isIE6) ? "absolute" : "fixed";
		obj11.style.top = (isIE6) ? bodyScrollTop + "px" : "0px";
	} else {
		obj11.style.position = "static";
	}
}
function getTop(e){
 
	var offset = e.offsetTop;
	if(e.offsetParent != null) offset += getTop(e.offsetParent);
	return offset;
}
</script>
<!--js-->
<div class="index_show">
	<ul class="bxslider" id="index-bxslider">
		<li class="item1" style="background: url(images/02.jpg) center 0 no-repeat;"></li>
		<li class="item2" style="background: url(images/03.jpg) center 0 no-repeat;"></li>
		<li class="item3" style="background: url(images/04.jpg) center 0 no-repeat;"></li>
        <li class="item4" style="background: url(images/05.jpg) center 0 no-repeat;"></li>
        <li class="item5" style="background: url(images/06.jpg) center 0 no-repeat;"></li>
	</ul>
	<div id="bx-pager">
		<a data-slide-index="0" href="javascript:void(0);">01</a>
		<a data-slide-index="1" href="javascript:void(0);">02</a>
		<a data-slide-index="2" href="javascript:void(0);">03</a>
        <a data-slide-index="3" href="javascript:void(0);">04</a>
		<a data-slide-index="4" href="javascript:void(0);">05</a>
	</div>
</div>

<script type="text/javascript" src="js/jQuery.v1.8.3-min.js"></script>
<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="js/zzsc.js"></script>
<!--路径-->
<div class="wrapp pt10 overflow clearfix f18 l-35">
 <p class="fl"><img src="images/t.jpg"  class="fl pt15 pr10"/> <a href="#">首页</a> > 训训云课堂 > <em class="red">linsfdo园林艺术设计</em></p>
</div>
<div class="wrapp pt20 overflow clearfix pb50">
 <!--left-->
 <div class="w888 fl overflow">
   <div class="bt pt20 boder-b overflow w100">
           <h4 class="molv" >2014年4月我国纺织品服装贸易额261亿美元</h4>
           <span class=" dis l-24">来源:玉帛服饰&nbsp;&nbsp;&nbsp;发布时间：2015-01-15 15:13:59&nbsp;&nbsp;&nbsp;点击：138</span>
         </div>
         
     <div class="con tl">

　　4月，纺织品出口105.6亿美元，增长9.4%，服装出口132亿美元，增长4.5%，其中大宗商品针、梭织服装合计出口29.1亿件(套)，增长13.3%，出口平均单价下跌7.7%。1~4月，纺织品和服装分别出口335.9亿美元和482.9亿美元，分别增长4.3%和0.7%。针织和梭织服装合计出口102.2亿件(套)，增长8.2%，出口平均单价下跌6.8%。
　　4月，重点出口地区中，浙江、江苏、山东、上海均实现出口增长，广东、福建下降。其中广东全国出口排名第二的位置已被江苏超越，退居第三。1~4月，广东和福建出口下降较快，降幅分别为6.4%和15%，浙江、江苏和山东仍保持较平稳增长。中、西部地区出口增长不平均、省内增减变化幅度大的特点依然存在。如四川一季度时累计出口增长近20%，但4月即出现41%的大幅下降。<br/>
　　对欧盟出口继续向好<br/>
　　4月，我国对欧盟出口继续向好，增幅进一步提升。当月出口39.9亿美元，增长33%。其中大类商品针梭织服装出口量增长26.3%，纺织制成品出口额增长23%。1~4月，欧盟超越其他地区，成为我出口增长最快的主要市场。累计出口额150.8亿美元，增长15.4%，其中针、梭织
　　出口概况<br/>
 <p><img src="images/inf_r4_c2.jpg" /></p>
　　服装出口量增价跌<br/>
　　4月，纺织品出口105.6亿美元，增长9.4%，服装出口132亿美元，增长4.5%，其中大宗商品针、梭织服装合计出口29.1亿件(套)，增长13.3%，出口平均单价下跌7.7%。1~4月，纺织品和服装分别出口335.9亿美元和482.9亿美元，分别增长4.3%和0.7%。针织和梭织服装合计出口102.2亿件(套)，增长8.2%，出口平均单价下跌6.8%。<br/>
　　4月，重点出口地区中，浙江、江苏、山东、上海均实现出口增长，广东、福建下降。其中广东全国出口排名第二的位置已被江苏超越，退居第三。1~4月，广东和福建出口下降较快，降幅分别为6.4%和15%，浙江、江苏和山东仍保持较平稳增长。中、西部地区出口增长不平均、省内增减变化幅度大的特点依然存在。如四川一季度时累计出口增长近20%，但4月即出现41%的大幅下降。<br/>
　　对欧盟出口继续向好<br/>
　　4月，我国对欧盟出口继续向好，增幅进一步提升。当月出口39.9亿美元，增长33%。其中大类商品针梭织服装出口量增长26.3%，纺织制成品出口额增长23%。1~4月，欧盟超越其他地区，成为我出口增长最快的主要市场。累计出口额150.8亿美元，增长15.4%，其中针、梭织服装累计出口量增长14.9%，出口平均单价提升2%。<br/>
　　对美出口保持良好增势<br/>
　　4月，我国对美出口32.5亿美元，增长17.1%，增幅较3月份再度扩大6个百分点。其中纺织品和服装出口分别增长13.6%和18.7%。<br/>
　　1~商品针、
        
         </div>
        <div class="w100 boder-b pt20 pb20 overflow">
        <div class="bdsharebuttonbox fr" > <a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone"></a><a href="#" class="bds_tsina" data-cmd="tsina"></a><a href="#" class="bds_tqq" data-cmd="tqq"></a><a href="#" class="bds_renren" data-cmd="renren"></a><a href="#" class="bds_weixin" data-cmd="weixin"></a>
     </div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script> 
        </div>
        
     <div class="w100 pt20 overflow clearfix">
      <p class="f20 l-30 fl overflow">咨询向导</p>
      
     </div>   
     <div class="w100 tl l-24 pt10 overflow">
 &nbsp;321电商学院】跨境电商行业第一培训品牌，跨境电商行业人才培养基地！<br />
【精美课程】跨境电商实战技巧培训（速卖通培训、亚马逊培训、eBay培训、wish培训）<br />
【精美服务】跨境电商实操人才输出 、跨境电商营销实战内训、跨境电商营销实战咨询、跨境电商高端人才猎聘<br />
【24小时咨询QQ】3037995672 / 834409856<br />
【24小时咨询热线】400 8878 321 / 15814464577 
     </div> 
     
   <div class="w100 pt20 overflow clearfix">
      <p class="f20 l-30 fl overflow">热点搜索</p>
     </div>  
    <div class="w100 soso  clearfix pt5 overflow">
     <a href="#">电商学员</a> <a href="#">电商学员</a><a href="#">电商学员</a><a href="#">电商学员</a><a href="#">电商学员</a><a href="#">电商学员</a><a href="#">电商学员</a><a href="#">电商学员</a><a href="#">电商学员</a>
    </div>  
    
    <div class="w100 pt20 overflow clearfix">
      <p class="f20 l-30 fl overflow">相关资讯</p>
     </div>  
     <div class="tuijian clearfix w100 pt20 overflow">
    <ul class=" pt5 overflow w100">
        <li><a href="#">改动达2017款明锐售11.99万起</a></li>
        <li><a href="#">这个选装金特别版车型</a></li>
         <li><a href="#">改动达2017款明锐售11.99万起</a></li>
        <li><a href="#">这个选装金特别版车型</a></li>
         <li><a href="#">改动达2017款明7款明7款明7款明7款明7款明7款明7款明锐售11.99万起</a></li>
        <li><a href="#">这个选装金特别版车型</a></li>
         <li><a href="#">改动达2017款明锐售11.99万起</a></li>
        <li><a href="#">这个选装金特别版车型</a></li>
    </ul>
   </div>
     
        
 </div>
 
 <!--right-->
 <div class="w286 fr overflow pt25">
  <div class="w100 pt20 boder-b overflow tl f18 l-30">
  精品课程
  </div>
  <div class="w100 clearfix jp overflow">
   <ul>
    <li><A href="#">课程列表1</A></li>
    <li><A href="#">课程列表1</A></li>
    <li><A href="#">课程列表1</A></li>
    <li><A href="#">课程列表1</A></li>
    <li><A href="#">课程列表1</A></li>
   </ul>
  </div>
  <div class="w100 pt20 boder-b overflow tl f18 l-30 pb10">
  热门文章
  </div>
  <div class="w100 clearfix rm pt10 overflow">
   <ul>
    <li>
     <a href="#"><img src="images/index_r37_c28.jpg" width="82"  height="82" class="fr"/></a>
     <ol class="fl overflow tl" >
     <a href="#" class=" l-24 pb5 mb5 overflow">
      其中大类商品针梭织服装出口量增长26.3%，纺织制成
     </a>
     <img src="images/zh_r10_c8.jpg" class="fl mr10 pt5 overflow" /> 10000
     </ol>
    </li>
    <li>
     <a href="#"><img src="images/index_r37_c28.jpg" width="82"  height="82" class="fr"/></a>
     <ol class="fl overflow tl" >
     <a href="#" class=" l-24 pb5 mb5 overflow">
      其中大类商品针梭织服装出口量增长26.3%，纺织制成
     </a>
     <img src="images/zh_r10_c8.jpg" class="fl mr10 pt5 overflow" /> 10000
     </ol>
    </li>
    <li>
     <a href="#"><img src="images/index_r37_c28.jpg" width="82"  height="82" class="fr"/></a>
     <ol class="fl overflow tl" >
     <a href="#" class=" l-24 pb5 mb5 overflow">
      其中大类商品针梭织服装出口量增长26.3%，纺织制成
     </a>
     <img src="images/zh_r10_c8.jpg" class="fl mr10 pt5 overflow" /> 10000
     </ol>
    </li>
    <li>
     <a href="#"><img src="images/index_r37_c28.jpg" width="82"  height="82" class="fr"/></a>
     <ol class="fl overflow tl" >
     <a href="#" class=" l-24 pb5 mb5 overflow">
      其中大类商品针梭织服装出口量增长26.3%，纺织制成
     </a>
     <img src="images/zh_r10_c8.jpg" class="fl mr10 pt5 overflow" /> 10000
     </ol>
    </li>
    <li>
     <a href="#"><img src="images/index_r37_c28.jpg" width="82"  height="82" class="fr"/></a>
     <ol class="fl overflow tl" >
     <a href="#" class=" l-24 pb5 mb5 overflow">
      其中大类商品针梭织服装出口量增长26.3%，纺织制成
     </a>
     <img src="images/zh_r10_c8.jpg" class="fl mr10 pt5 overflow" /> 10000
     </ol>
    </li>
   </ul>
  </div>
  
  
 </div>
 
 
 
 
</div>
<div class="box_bg clearfix overflow f20 w100">
 <div class="wrapp overflow">
  <a href="#">在线咨询</a>
 </div>
</div>

<!--版权-->
<div class="copy_bg overflow clearfix w100">
 <div class="wrap overflow baise ">
  <p class="fl"><img src="images/index_r42_c7.jpg" /></p>
  <dl class="fl pl20">
  <dt><a href="#">首页</a>   <a href="#">培训信息</a>   <a href="#">会议信息</a>   <a href="#">专家信息</a>  <a href="#"> 场地信息</a>  <a href="#"> 在线培训</a>  <a href="#"> 培训机构</a>  <a href="#">  培训联盟</a>   <a href="#">人才招聘</a> 
  </dt>
  <dd>
  &copy; 2019 XX公司&nbsp;&nbsp;ICP备XXXXXXXX号&nbsp;&nbsp;技术支持：<a href="http://www.jsdaima.com/" title="js代码" target="_blank">js代码（www.jsdaima.com）</a> 
  </dd>
  </dl>
  <ol class="fr">
   <img src="images/index_r42_c38.jpg" />
  </ol>
 </div>
</div>

</body>
</html>
