<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>训训网</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<!--标志搜索-->


<div class="log_bg overflow clearfix">
  <div class="wrapp overflow pt35">
    <p class="fl overflow"><img src="images/index_r2_c6.jpg" /></p>
    <dl class="fl pl90 pt10 overflow w515 ">
      <dt>
        <input type="text" class="ss_in" value="请输入关键字" onfocus="if(this.value=='请输入关键字'){this.value='';this.style.color='#333'}" onblur="if(this.value==''){this.value='请输入关键字';this.style.color='#aaa'}" x-webkit-grammar="bUIltin:search" x-webkit-speech="" maxlength="30" name="keyword" />
        <input type="button" class="an_bg" />
      </dt>
      <dd> <a href="#" class="f12 huise">管理提升培训</a> <a href="#" class="f12 huise">技术技能培训</a> <a href="#" class="f12 huise">资格认证培训</a> <a href="#" class="f12 huise">会计金融培训</a> </dd>
    </dl>
    <!--发布登录-->
    <dl class="w336 overflow  pt10 fr">
      <dt> <a href="#"><img src="images/index_r4_c33.jpg" class="fl" /></a>
        <ol class="f18 fr overflow">
          <a href="#">登录</a> | <a href="#" class="red">注册</a>
        </ol>
      </dt>
      <dd  > <img src="images/index_r6_c31.jpg" /> </dd>
    </dl>
  </div>
</div>

<!--nav-->


<div class="nav_bg overflow  clearfix" id ="inner">
  <div class="wrappp">
    <ul>
      <li style="background:none"><a href="#">首页 </a></li>
      <li><a href="#">培训信息 </a></li>
      <li><a href="#">会议信息 </a></li>
      <li><a href="#">训训专家库 </a></li>
      <li><a href="#">训训云课堂 </a></li>
      <li><a href="#">训训大讲堂 </a></li>
      <li><a href="#">免费公开课 </a></li>
      <li><a href="#">培训机构 </a></li>
      <li><a href="#">项目路演 </a></li>
      <li><a href="#">会议培训场地 </a></li>
      <li><a href="#">人才招聘 </a></li>
    </ul>
  </div>
</div>
<script type="text/javascript">
var obj11 = document.getElementById("inner");
var top11 = getTop(obj11);
var isIE6 = /msie 6/i.test(navigator.userAgent);
window.onscroll = function(){
 
	var bodyScrollTop = document.documentElement.scrollTop || document.body.scrollTop;
	if (bodyScrollTop > top11){
		obj11.style.position = (isIE6) ? "absolute" : "fixed";
		obj11.style.top = (isIE6) ? bodyScrollTop + "px" : "0px";
	} else {
		obj11.style.position = "static";
	}
}
function getTop(e){
 
	var offset = e.offsetTop;
	if(e.offsetParent != null) offset += getTop(e.offsetParent);
	return offset;
}
</script>
<!--js-->

<!--js-->
<div class="index_show">
	<ul class="bxslider" id="index-bxslider">
		<li class="item1" style="background: url(images/02.jpg) center 0 no-repeat;"></li>
		<li class="item2" style="background: url(images/03.jpg) center 0 no-repeat;"></li>
		<li class="item3" style="background: url(images/04.jpg) center 0 no-repeat;"></li>
        <li class="item4" style="background: url(images/05.jpg) center 0 no-repeat;"></li>
        <li class="item5" style="background: url(images/06.jpg) center 0 no-repeat;"></li>
	</ul>
	<div id="bx-pager">
		<a data-slide-index="0" href="javascript:void(0);">01</a>
		<a data-slide-index="1" href="javascript:void(0);">02</a>
		<a data-slide-index="2" href="javascript:void(0);">03</a>
        <a data-slide-index="3" href="javascript:void(0);">04</a>
		<a data-slide-index="4" href="javascript:void(0);">05</a>
	</div>
</div>

<script type="text/javascript" src="js/jQuery.v1.8.3-min.js"></script>
<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="js/zzsc.js"></script>
<!--路径-->
<div class="wrap pt10 overflow clearfix f18 l-35">
 <p class="fl"><img src="images/t.jpg"  class="fl pt15 pr10"/> <a href="#">首页</a> > <em class="red">训训云课堂</em></p>
</div>
<div class="wrapp pt20 overflow clearfix mianfei">
 <ol class="fl overflow"><a href="#"><img src="images/yunketang_r1_c1.jpg" /></a></ol>
 <div class="img-scroll">
    <span class="prev"><img src="images/jian1.jpg" /></span>
    <span class="next"><img src="images/jian2.jpg" /></span>
   
    <div class="img-list">
    <div class="img_list1">
     <ul>
      <li>
      
       <p>
       <a href="#">
         <img src="images/yunketang_r4_c8.jpg" />
       </a>
       </p>
       <span>
       <a href="#">造就明星公开课</a><br />
       <i class="f12 huise">造就KTV</i>
       </span>
      </li>
       <li>
      
       <p>
       <a href="#">
         <img src="images/yunketang_r4_c8.jpg" />
       </a>
       </p>
       <span>
       <a href="#">造就明星公开课</a><br />
       <i class="f12 huise">造就KTV</i>
       </span>
      </li>
       <li>
      
       <p>
       <a href="#">
         <img src="images/yunketang_r4_c8.jpg" />
       </a>
       </p>
       <span>
       <a href="#">造就明星公开课</a><br />
       <i class="f12 huise">造就KTV</i>
       </span>
      </li>
       <li>
      
       <p>
       <a href="#">
         <img src="images/yunketang_r4_c8.jpg" />
       </a>
       </p>
       <span>
       <a href="#">造就明星公开课</a><br />
       <i class="f12 huise">造就KTV</i>
       </span>
      </li>
       <li>
      
       <p>
       <a href="#">
         <img src="images/yunketang_r4_c8.jpg" />
       </a>
       </p>
       <span>
       <a href="#">造就明星公开课</a><br />
       <i class="f12 huise">造就KTV</i>
       </span>
      </li>
     
     </ul>
     
     </div>
     
    </div>
   
    </div>
    <script type="text/javascript" src="js/011.js"></script>
 
 
 
 
 
</div>
<div class="wrapp pt15 overflow tl l-30 f20">
云课堂分类
</div>
<!--分类-->
<div class="z_list clearfix overflow mt10 wrapp">
 <dl>
  <dt>企业战略</dt>
  <dd>
  <a href="#">融资上市</a>     <a href="#">商业模式</a>     <a href="#">股权激励</a>     <a href="#">战略规划</a>     <a href="#">集团管控</a>      <a href="#">资本运营</a>      <a href="#">品牌策划
  </dd>
 </dl>
 <dl>
  <dt>企业战略</dt>
  <dd>
  <a href="#">融资上市</a>     <a href="#">商业模式</a>     <a href="#">股权激励</a>     <a href="#">战略规划</a>     <a href="#">集团管控</a>      <a href="#">资本运营</a>      <a href="#">品牌策划
  </dd>
 </dl>
 <dl>
  <dt>企业战略</dt>
  <dd>
  <a href="#">融资上市</a>     <a href="#">商业模式</a>     <a href="#">股权激励</a>     <a href="#">战略规划</a>     <a href="#">集团管控</a>      <a href="#">资本运营</a>      <a href="#">品牌策划
  </dd>
 </dl>
 <dl>
  <dt>企业战略</dt>
  <dd>
  <a href="#">融资上市</a>     <a href="#">商业模式</a>     <a href="#">股权激励</a>     <a href="#">战略规划</a>     <a href="#">集团管控</a>      <a href="#">资本运营</a>      <a href="#">品牌策划
  </dd>
 </dl>
 <dl>
  <dt>企业战略</dt>
  <dd>
  <a href="#">融资上市</a>     <a href="#">商业模式</a>     <a href="#">股权激励</a>     <a href="#">战略规划</a>     <a href="#">集团管控</a>      <a href="#">资本运营</a>      <a href="#">品牌策划
  </dd>
 </dl>
 <dl>
  <dt>企业战略</dt>
  <dd>
  <a href="#">融资上市</a>     <a href="#">商业模式</a>     <a href="#">股权激励</a>     <a href="#">战略规划</a>     <a href="#">集团管控</a>      <a href="#">资本运营</a>      <a href="#">品牌策划
  </dd>
 </dl>
 <dl>
  <dt>企业战略</dt>
  <dd>
  <a href="#">融资上市</a>     <a href="#">商业模式</a>     <a href="#">股权激励</a>     <a href="#">战略规划</a>     <a href="#">集团管控</a>      <a href="#">资本运营</a>      <a href="#">品牌策划
  </dd>
 </dl>
 <dl>
  <dt>企业战略</dt>
  <dd>
  <a href="#">融资上市</a>     <a href="#">商业模式</a>     <a href="#">股权激励</a>     <a href="#">战略规划</a>     <a href="#">集团管控</a>      <a href="#">资本运营</a>      <a href="#">品牌策划</a>
  </dd>
 </dl>
</div>
<div class="wrapp   overflow clearfix yunketang">
 <div class="row2">
 <dl>
  <dt>
   <a href="#">
      <img src="images/yunketang_r4_c8.jpg" />
    </a>
  </dt>
  <dd class="boder-b pb10 clearfix pt10 overflow">
   <h1>
   <a href="#">唱初学者的十堂必修基的十堂必修基础V础VBS声音平衡</a>
   </h1>
   <ol class="pt15 w100 overflow clearfix">
    <em class="fl">￥255</em>
    <i class="fr mr10"><img src="images/yunketang_r12_c4.jpg" class="fl mr10 pt5" /> 1114人在学</i>
   </ol>
  </dd>
 </dl>
 <dl>
  <dt>
   <a href="#">
      <img src="images/yunketang_r4_c8.jpg" />
    </a>
  </dt>
  <dd class="boder-b pb10 clearfix pt10 overflow">
   <h1>
   <a href="#">唱初学者的十堂必修基的十堂必修基础V础VBS声音平衡</a>
   </h1>
   <ol class="pt15 w100 overflow clearfix">
    <em class="fl">￥255</em>
    <i class="fr mr10"><img src="images/yunketang_r12_c4.jpg" class="fl mr10 pt5" /> 1114人在学</i>
   </ol>
  </dd>
 </dl>
 <dl>
  <dt>
   <a href="#">
      <img src="images/yunketang_r4_c8.jpg" />
    </a>
  </dt>
  <dd class="boder-b pb10 clearfix pt10 overflow">
   <h1>
   <a href="#">唱初学者的十堂必修基的十堂必修基础V础VBS声音平衡</a>
   </h1>
   <ol class="pt15 w100 overflow clearfix">
    <em class="fl">￥255</em>
    <i class="fr mr10"><img src="images/yunketang_r12_c4.jpg" class="fl mr10 pt5" /> 1114人在学</i>
   </ol>
  </dd>
 </dl>
 <dl>
  <dt>
   <a href="#">
      <img src="images/yunketang_r4_c8.jpg" />
    </a>
  </dt>
  <dd class="boder-b pb10 clearfix pt10 overflow">
   <h1>
   <a href="#">唱初学者的十堂必修基的十堂必修基础V础VBS声音平衡</a>
   </h1>
   <ol class="pt15 w100 overflow clearfix">
    <em class="fl">￥255</em>
    <i class="fr mr10"><img src="images/yunketang_r12_c4.jpg" class="fl mr10 pt5" /> 1114人在学</i>
   </ol>
  </dd>
 </dl>
 <dl>
  <dt>
   <a href="#">
      <img src="images/yunketang_r4_c8.jpg" />
    </a>
  </dt>
  <dd class="boder-b pb10 clearfix pt10 overflow">
   <h1>
   <a href="#">唱初学者的十堂必修基的十堂必修基础V础VBS声音平衡</a>
   </h1>
   <ol class="pt15 w100 overflow clearfix">
    <em class="fl">￥255</em>
    <i class="fr mr10"><img src="images/yunketang_r12_c4.jpg" class="fl mr10 pt5" /> 1114人在学</i>
   </ol>
  </dd>
 </dl>
 <dl>
  <dt>
   <a href="#">
      <img src="images/yunketang_r4_c8.jpg" />
    </a>
  </dt>
  <dd class="boder-b pb10 clearfix pt10 overflow">
   <h1>
   <a href="#">唱初学者的十堂必修基的十堂必修基础V础VBS声音平衡</a>
   </h1>
   <ol class="pt15 w100 overflow clearfix">
    <em class="fl">￥255</em>
    <i class="fr mr10"><img src="images/yunketang_r12_c4.jpg" class="fl mr10 pt5" /> 1114人在学</i>
   </ol>
  </dd>
 </dl>
  <dl>
  <dt>
   <a href="#">
      <img src="images/yunketang_r4_c8.jpg" />
    </a>
  </dt>
  <dd class="boder-b pb10 clearfix pt10 overflow">
   <h1>
   <a href="#">唱初学者的十堂必修基的十堂必修基础V础VBS声音平衡</a>
   </h1>
   <ol class="pt15 w100 overflow clearfix">
    <em class="fl">￥255</em>
    <i class="fr mr10"><img src="images/yunketang_r12_c4.jpg" class="fl mr10 pt5" /> 1114人在学</i>
   </ol>
  </dd>
 </dl>
  <dl>
  <dt>
   <a href="#">
      <img src="images/yunketang_r4_c8.jpg" />
    </a>
  </dt>
  <dd class="boder-b pb10 clearfix pt10 overflow">
   <h1>
   <a href="#">唱初学者的十堂必修基的十堂必修基础V础VBS声音平衡</a>
   </h1>
   <ol class="pt15 w100 overflow clearfix">
    <em class="fl">￥255</em>
    <i class="fr mr10"><img src="images/yunketang_r12_c4.jpg" class="fl mr10 pt5" /> 1114人在学</i>
   </ol>
  </dd>
 </dl>
  <dl>
  <dt>
   <a href="#">
      <img src="images/yunketang_r4_c8.jpg" />
    </a>
  </dt>
  <dd class="boder-b pb10 clearfix pt10 overflow">
   <h1>
   <a href="#">唱初学者的十堂必修基的十堂必修基础V础VBS声音平衡</a>
   </h1>
   <ol class="pt15 w100 overflow clearfix">
    <em class="fl">￥255</em>
    <i class="fr mr10"><img src="images/yunketang_r12_c4.jpg" class="fl mr10 pt5" /> 1114人在学</i>
   </ol>
  </dd>
 </dl>
  <dl>
  <dt>
   <a href="#">
      <img src="images/yunketang_r4_c8.jpg" />
    </a>
  </dt>
  <dd class="boder-b pb10 clearfix pt10 overflow">
   <h1>
   <a href="#">唱初学者的十堂必修基的十堂必修基础V础VBS声音平衡</a>
   </h1>
   <ol class="pt15 w100 overflow clearfix">
    <em class="fl">￥255</em>
    <i class="fr mr10"><img src="images/yunketang_r12_c4.jpg" class="fl mr10 pt5" /> 1114人在学</i>
   </ol>
  </dd>
 </dl>
  <dl>
  <dt>
   <a href="#">
      <img src="images/yunketang_r4_c8.jpg" />
    </a>
  </dt>
  <dd class="boder-b pb10 clearfix pt10 overflow">
   <h1>
   <a href="#">唱初学者的十堂必修基的十堂必修基础V础VBS声音平衡</a>
   </h1>
   <ol class="pt15 w100 overflow clearfix">
    <em class="fl">￥255</em>
    <i class="fr mr10"><img src="images/yunketang_r12_c4.jpg" class="fl mr10 pt5" /> 1114人在学</i>
   </ol>
  </dd>
 </dl>
  <dl>
  <dt>
   <a href="#">
      <img src="images/yunketang_r4_c8.jpg" />
    </a>
  </dt>
  <dd class="boder-b pb10 clearfix pt10 overflow">
   <h1>
   <a href="#">唱初学者的十堂必修基的十堂必修基础V础VBS声音平衡</a>
   </h1>
   <ol class="pt15 w100 overflow clearfix">
    <em class="fl">￥255</em>
    <i class="fr mr10"><img src="images/yunketang_r12_c4.jpg" class="fl mr10 pt5" /> 1114人在学</i>
   </ol>
  </dd>
 </dl>
  <dl>
  <dt>
   <a href="#">
      <img src="images/yunketang_r4_c8.jpg" />
    </a>
  </dt>
  <dd class="boder-b pb10 clearfix pt10 overflow">
   <h1>
   <a href="#">唱初学者的十堂必修基的十堂必修基础V础VBS声音平衡</a>
   </h1>
   <ol class="pt15 w100 overflow clearfix">
    <em class="fl">￥255</em>
    <i class="fr mr10"><img src="images/yunketang_r12_c4.jpg" class="fl mr10 pt5" /> 1114人在学</i>
   </ol>
  </dd>
 </dl>
  <dl>
  <dt>
   <a href="#">
      <img src="images/yunketang_r4_c8.jpg" />
    </a>
  </dt>
  <dd class="boder-b pb10 clearfix pt10 overflow">
   <h1>
   <a href="#">唱初学者的十堂必修基的十堂必修基础V础VBS声音平衡</a>
   </h1>
   <ol class="pt15 w100 overflow clearfix">
    <em class="fl">￥255</em>
    <i class="fr mr10"><img src="images/yunketang_r12_c4.jpg" class="fl mr10 pt5" /> 1114人在学</i>
   </ol>
  </dd>
 </dl>
  <dl>
  <dt>
   <a href="#">
      <img src="images/yunketang_r4_c8.jpg" />
    </a>
  </dt>
  <dd class="boder-b pb10 clearfix pt10 overflow">
   <h1>
   <a href="#">唱初学者的十堂必修基的十堂必修基础V础VBS声音平衡</a>
   </h1>
   <ol class="pt15 w100 overflow clearfix">
    <em class="fl">￥255</em>
    <i class="fr mr10"><img src="images/yunketang_r12_c4.jpg" class="fl mr10 pt5" /> 1114人在学</i>
   </ol>
  </dd>
 </dl>
  <dl>
  <dt>
   <a href="#">
      <img src="images/yunketang_r4_c8.jpg" />
    </a>
  </dt>
  <dd class="boder-b pb10 clearfix pt10 overflow">
   <h1>
   <a href="#">唱初学者的十堂必修基的十堂必修基础V础VBS声音平衡</a>
   </h1>
   <ol class="pt15 w100 overflow clearfix">
    <em class="fl">￥255</em>
    <i class="fr mr10"><img src="images/yunketang_r12_c4.jpg" class="fl mr10 pt5" /> 1114人在学</i>
   </ol>
  </dd>
 </dl>
 </div>
 
 
 
</div>


<div class="wrap  pt30 overflow clearfix pb50">
<div class="w496 fl overflow">
  <div class="w100 overflow tl">
   <a href="#" class="f24 l-30 red">热门推荐</a>
   <div class="pt10">
    <img src="images/yunketang_r6_c1.jpg" />
   </div>
  </div>
  <div class="w100 pt20 overflow clearfix hs f12 tl">
  <a href="#"><img src="images/n_r48_c22.jpg"  width="152" height="82" class="fl mr15"/></a>
   <a href="#" class="f16">华中“网络营销诊断师考级会”圆满收</a><br />
   被问及如何看待新三板分层制以及对牛商网的影响时，袁慧君总经理表示：新三板分层制对挂牌的优秀企业的发展是一个大的机
  </div>
  <div class="w100 pt10 overflow clearfix">
   <ul>
    <li><span class="r11">2</span><span class="n11"><a href="#">看待“新三板分层制度”，企业初心是发展根本</a></span><span class="ri1">2016-09-20</span></li>
    <li><span class="r11">3</span><span class="n11"><a href="#">看待“新三板分层制度”，企业初心是发展根本</a></span><span class="ri1">2016-09-20</span></li>
    <li><span class="r12">4</span><span class="n11"><a href="#">看待“新三板分层制度”，企业初心是发展根本</a></span><span class="ri1">2016-09-20</span></li>
    <li><span class="r12">5</span><span class="n11"><a href="#">看待“新三板分层制度”，企业初心是发展根本</a></span><span class="ri1">2016-09-20</span></li>
    <li><span class="r12">6</span><span class="n11"><a href="#">看待“新三板分层制度”，企业初心是发展根本</a></span><span class="ri1">2016-09-20</span></li>
    <li><span class="r12">7</span><span class="n11"><a href="#">看待“新三板分层制度”，企业初心是发展根本</a></span><span class="ri1">2016-09-20</span></li>
    <li><span class="r12">8</span><span class="n11"><a href="#">看待“新三板分层制度”，企业初心是发展根本</a></span><span class="ri1">2016-09-20</span></li>
    <li><span class="r12">9</span><span class="n11"><a href="#">看待“新三板分层制度”，企业初心是发展根本</a></span><span class="ri1">2016-09-20</span></li>
    <li><span class="r12">10</span><span class="n11"><a href="#">看待“新三板分层制度”，企业初心是发展根本</a></span><span class="ri1">2016-09-20</span></li>
   </ul>
  </div>
 </div>
 
  <div class="w496 fr overflow">
  <div class="w100 overflow tl">
   <a href="#" class="f24 l-30 red">最新课程</a>
   <div class="pt10">
    <img src="images/yunketang_r6_c1.jpg" />
   </div>
  </div>
  <div class="w100 pt20 overflow clearfix hs f12 tl">
  <a href="#"><img src="images/n_r48_c22.jpg"  width="152" height="82" class="fl mr15"/></a>
   <a href="#" class="f16">华中“网络营销诊断师考级会”圆满收</a><br />
   被问及如何看待新三板分层制以及对牛商网的影响时，袁慧君总经理表示：新三板分层制对挂牌的优秀企业的发展是一个大的机
  </div>
  <div class="w100 pt10 overflow clearfix">
   <ul>
    <li><span class="r11">2</span><span class="n11"><a href="#">看待“新三板分层制度”，企业初心是发展根本</a></span><span class="ri1">2016-09-20</span></li>
    <li><span class="r11">3</span><span class="n11"><a href="#">看待“新三板分层制度”，企业初心是发展根本</a></span><span class="ri1">2016-09-20</span></li>
    <li><span class="r12">4</span><span class="n11"><a href="#">看待“新三板分层制度”，企业初心是发展根本</a></span><span class="ri1">2016-09-20</span></li>
    <li><span class="r12">5</span><span class="n11"><a href="#">看待“新三板分层制度”，企业初心是发展根本</a></span><span class="ri1">2016-09-20</span></li>
    <li><span class="r12">6</span><span class="n11"><a href="#">看待“新三板分层制度”，企业初心是发展根本</a></span><span class="ri1">2016-09-20</span></li>
    <li><span class="r12">7</span><span class="n11"><a href="#">看待“新三板分层制度”，企业初心是发展根本</a></span><span class="ri1">2016-09-20</span></li>
    <li><span class="r12">8</span><span class="n11"><a href="#">看待“新三板分层制度”，企业初心是发展根本</a></span><span class="ri1">2016-09-20</span></li>
    <li><span class="r12">9</span><span class="n11"><a href="#">看待“新三板分层制度”，企业初心是发展根本</a></span><span class="ri1">2016-09-20</span></li>
    <li><span class="r12">10</span><span class="n11"><a href="#">看待“新三板分层制度”，企业初心是发展根本</a></span><span class="ri1">2016-09-20</span></li>
   </ul>
  </div>
 </div>
</div>

<!--版权-->
<div class="copy_bg overflow clearfix w100">
 <div class="wrap overflow baise ">
  <p class="fl"><img src="images/index_r42_c7.jpg" /></p>
  <dl class="fl pl20">
  <dt><a href="#">首页</a>   <a href="#">培训信息</a>   <a href="#">会议信息</a>   <a href="#">专家信息</a>  <a href="#"> 场地信息</a>  <a href="#"> 在线培训</a>  <a href="#"> 培训机构</a>  <a href="#">  培训联盟</a>   <a href="#">人才招聘</a> 
  </dt>
  <dd>
  &copy; 2019 XX公司&nbsp;&nbsp;ICP备XXXXXXXX号&nbsp;&nbsp;技术支持：<a href="http://www.jsdaima.com/" title="js代码" target="_blank">js代码（www.jsdaima.com）</a> 
  </dd>
  </dl>
  <ol class="fr">
   <img src="images/index_r42_c38.jpg" />
  </ol>
 </div>
</div>

</body>
</html>
