<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>训训网</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<!--标志搜索-->


<div class="log_bg overflow clearfix">
  <div class="wrapp overflow pt35">
    <p class="fl overflow"><img src="images/index_r2_c6.jpg" /></p>
    <dl class="fl pl90 pt10 overflow w515 ">
      <dt>
        <input type="text" class="ss_in" value="请输入关键字" onfocus="if(this.value=='请输入关键字'){this.value='';this.style.color='#333'}" onblur="if(this.value==''){this.value='请输入关键字';this.style.color='#aaa'}" x-webkit-grammar="bUIltin:search" x-webkit-speech="" maxlength="30" name="keyword" />
        <input type="button" class="an_bg" />
      </dt>
      <dd> <a href="#" class="f12 huise">管理提升培训</a> <a href="#" class="f12 huise">技术技能培训</a> <a href="#" class="f12 huise">资格认证培训</a> <a href="#" class="f12 huise">会计金融培训</a> </dd>
    </dl>
    <!--发布登录-->
    <dl class="w336 overflow  pt10 fr">
      <dt> <a href="#"><img src="images/index_r4_c33.jpg" class="fl" /></a>
        <ol class="f18 fr overflow">
          <a href="#">登录</a> | <a href="#" class="red">注册</a>
        </ol>
      </dt>
      <dd  > <img src="images/index_r6_c31.jpg" /> </dd>
    </dl>
  </div>
</div>

<!--nav-->


<div class="nav_bg overflow  clearfix" id ="inner">
  <div class="wrappp">
    <ul>
      <li style="background:none"><a href="#">首页 </a></li>
      <li><a href="#">培训信息 </a></li>
      <li><a href="#">会议信息 </a></li>
      <li><a href="#">训训专家库 </a></li>
      <li><a href="#">训训云课堂 </a></li>
      <li><a href="#">训训大讲堂 </a></li>
      <li><a href="#">免费公开课 </a></li>
      <li><a href="#">培训机构 </a></li>
      <li><a href="#">项目路演 </a></li>
      <li><a href="#">会议培训场地 </a></li>
      <li><a href="#">人才招聘 </a></li>
    </ul>
  </div>
</div>
<script type="text/javascript">
var obj11 = document.getElementById("inner");
var top11 = getTop(obj11);
var isIE6 = /msie 6/i.test(navigator.userAgent);
window.onscroll = function(){
 
	var bodyScrollTop = document.documentElement.scrollTop || document.body.scrollTop;
	if (bodyScrollTop > top11){
		obj11.style.position = (isIE6) ? "absolute" : "fixed";
		obj11.style.top = (isIE6) ? bodyScrollTop + "px" : "0px";
	} else {
		obj11.style.position = "static";
	}
}
function getTop(e){
 
	var offset = e.offsetTop;
	if(e.offsetParent != null) offset += getTop(e.offsetParent);
	return offset;
}
</script>
<!--js-->
<div class="index_show">
	<ul class="bxslider" id="index-bxslider">
		<li class="item1" style="background: url(images/02.jpg) center 0 no-repeat;"></li>
		<li class="item2" style="background: url(images/03.jpg) center 0 no-repeat;"></li>
		<li class="item3" style="background: url(images/04.jpg) center 0 no-repeat;"></li>
        <li class="item4" style="background: url(images/05.jpg) center 0 no-repeat;"></li>
        <li class="item5" style="background: url(images/06.jpg) center 0 no-repeat;"></li>
	</ul>
	<div id="bx-pager">
		<a data-slide-index="0" href="javascript:void(0);">01</a>
		<a data-slide-index="1" href="javascript:void(0);">02</a>
		<a data-slide-index="2" href="javascript:void(0);">03</a>
        <a data-slide-index="3" href="javascript:void(0);">04</a>
		<a data-slide-index="4" href="javascript:void(0);">05</a>
	</div>
</div>

<script type="text/javascript" src="js/jQuery.v1.8.3-min.js"></script>
<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="js/zzsc.js"></script>
<!--路径-->
<div class="wrapp pt10 overflow clearfix f18 l-35">
 <p class="fl"><img src="images/t.jpg"  class="fl pt15 pr10"/> <a href="#">首页</a> > 训训云课堂 > <em class="red">linsfdo园林艺术设计</em></p>
</div>

<!--购买-->
<div class="wrapp pt20 overflow clearfix ">
 <img src="images/goumai_r1_c1.jpg" width="400" height="300" class="fl" />
 <div class="w782 fr overflow tl l-24">
  <h5 class="tl l-35 f20">linsfdo园林艺术设计</h5>
  <ol class="f12 hui tl">共45节课&nbsp; &nbsp;|&nbsp;&nbsp; <img src="images/goumai_r3_c7.jpg" /> (15) &nbsp;&nbsp;|&nbsp; &nbsp;239490人学习</ol>
  <ul>
   <li class="pt5">价格:<em class="red f18">￥49</em></li>
   <li class="pt5">适合人群:</li>
   <li class="pt5">课程标签:</li>
   <li class="pt5">服费特权:<span class="tl"><img src="images/goumai_r5_c8.jpg "  /> 24小时内讲师答疑</span> <span class="tl"><img src="images/goumai_r5_c13.jpg "  />所有课时永久免费 <img src="images/goumai_r5_c15.jpg "  /> 专属资料下载 <img src="images/goumai_r5_c19.jpg "  /> 购买课程返学分</span>
   </li>
  </ul>
  <dl>
   <dd><a href="#" class="bg1">购买课程</a></dd>
   <dd><a href="#" class="bg2">购买课程</a></dd>
  </dl>
  <div class="w100 pt15 clearfix fenx ">
   <ul>
    <li><img src="images/goumai_r7_c5.jpg" /> <a href="#">收藏</a> </li>
     <li>
     <div class="bdsharebuttonbox fl" style="width:20px; height:30px; overflow:hidden"> <a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone"></a><a href="#" class="bds_tsina" data-cmd="tsina"></a><a href="#" class="bds_tqq" data-cmd="tqq"></a><a href="#" class="bds_renren" data-cmd="renren"></a><a href="#" class="bds_weixin" data-cmd="weixin"></a>
     </div>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script> 
<div class="fl "> 分享</div>
</li>
 <li><img src="images/goumai_r7_c10.jpg" class="pr5" /><a href="#" class="red">推广挣现金</a></li>
   </ul>
  </div>
 </div>
</div>

<!--区域-->
<div class="wrapp pt20 overflow clearfix pb50 ">
 <!--left-->
 <div class="w880 fl overflow">
   <!--切换-->

    <script>
<!--
/*第一种形式 第二种形式 更换显示样式*/
function setTab(name,cursel,n){
for(i=1;i<=n;i++){
var menu=document.getElementById(name+i);
var con=document.getElementById("con_"+name+"_"+i);
menu.className=i==cursel?"hover":"";
con.style.display=i==cursel?"block":"none";
}
}
//-->
    </script>
    <div id="Tab622">
                <div class="Menubox622">
                    <ul>
                        <li id="one1" onmousedown="setTab('one',1,2)" class="hover">培训内容
                        </li>
                        <li id="one2" onmousedown="setTab('one',2,2)" class="">累计评价 </li>
                    </ul>
                    
                </div>
     <div class="Contentbox622">
      <div id="con_one_1" class="hover" style="display: block;">
       <div class="about_inf1">
        <ul>
         <li>商品名称:乐悠居沙发</li>
         <li>商品编号:3490</li>
         <li>商品名称:乐悠居沙发</li>
         <li>商品编号:3490</li>
         <li>商品名称:乐悠居沙发</li>
         <li>商品编号:3490</li>
         <li>商品名称:乐悠居沙发</li>
         <li>商品编号:3490</li>
         <li>商品名称:乐悠居沙发</li>
         <li>商品编号:3490</li>
        </ul>
       
       </div>
       <div class="about_inf2">
        <p><img src="images/shangpin_r9_c8.jpg"  /></p>
       </div>
       
      
      </div>
      <div id="con_one_2" style="display: none;">
       
       <div class="pinglun_bot pb20">
     <ul>
      <li>
       <h3 class="f14 huise tr l-26 ">刚刚</h3>
       <span class="bg12_t"><img src="images/p_r2_c2.jpg" /></span>
       <ol>
       坚决支持中国政府严正立场，拥护习总书记谈话。
主权是不能谈判的，任何所谓仲裁都是无效的，废纸一张！
这个仲裁庭算什
       </ol>
      </li>
      <li>
       <h3 class="f14 huise tr l-26 ">刚刚</h3>
       <span class="bg12_t"></span>
       <ol>
       坚决支持中国政府严正立场，拥护习总书记谈话。
主权是不能谈判的，任何所谓仲裁都是无效的，废纸一张！
这个仲裁庭算什
       </ol>
      </li>
      <li>
       <h3 class="f14 huise tr l-26 ">刚刚</h3>
       <span class="bg12_t"></span>
       <ol>
       坚决支持中国政府严正立场，拥护习总书记谈话。
主权是不能谈判的，任何所谓仲裁都是无效的，废纸一张！
这个仲裁庭算什
       </ol>
      </li>
      <li>
       <h3 class="f14 huise tr l-26 ">刚刚</h3>
       <span class="bg12_t"></span>
       <ol>
       坚决支持中国政府严正立场，拥护习总书记谈话。
主权是不能谈判的，任何所谓仲裁都是无效的，废纸一张！
这个仲裁庭算什
       </ol>
      </li>
     </ul>
    </div>
       
       
       
      </div>
      </div>
    </div>
    <!--切换-->	
 </div>
 
 
 <div class="w298 fr overflow">
  <div class="w100 f20 tl l-30">
   <img src="images/goumai_r10_c20.jpg" class="fl mr10 pt10" /> 扫一扫  手机也能看
  </div>
  <div class="w100 pt15 clearfix overflow">
   <img src="images/goumai_r3_c6.jpg" />
  </div>
  <div class="w100 f20 tl l-30 pt20">
   <img src="images/goumai_r10_c20.jpg" class="fl mr10 pt10" /> 对此感兴趣的人
  </div>
  <div class="tu clearfix overflow w100">
   <ul>
    <li><a href="#"><img src="images/goumai_r6_c7.jpg" width="42" height="42" /></a></li>
    <li><a href="#"><img src="images/goumai_r6_c7.jpg" width="42" height="42" /></a></li>
    <li><a href="#"><img src="images/goumai_r6_c7.jpg" width="42" height="42" /></a></li>
    <li><a href="#"><img src="images/goumai_r6_c7.jpg" width="42" height="42" /></a></li>
   </ul>
  </div>
  
  <div class="w100 f20 tl l-30 pt20">
   <img src="images/goumai_r10_c20.jpg" class="fl mr10 pt10" /> 随便看看
  </div>
  <div class="w100 suibian clearfix">
   <dl>
  <dt>
   <a href="#">
      <img src="images/yunketang_r4_c8.jpg" />
    </a>
  </dt>
  <dd class="boder-b pb10 clearfix pt10 overflow">
   <h1>
   <a href="#">唱初学者的十堂必修基的十堂必修基础V础VBS声音平衡</a>
   </h1>
   <ol class="pt15 w100 overflow clearfix">
    <em class="fl">￥255</em>
    <i class="fr mr10"><img src="images/yunketang_r12_c4.jpg" class="fl mr10 pt5" /> 1114人在学</i>
   </ol>
  </dd>
 </dl>
 <dl>
  <dt>
   <a href="#">
      <img src="images/yunketang_r4_c8.jpg" />
    </a>
  </dt>
  <dd class="boder-b pb10 clearfix pt10 overflow">
   <h1>
   <a href="#">唱初学者的十堂必修基的十堂必修基础V础VBS声音平衡</a>
   </h1>
   <ol class="pt15 w100 overflow clearfix">
    <em class="fl">￥255</em>
    <i class="fr mr10"><img src="images/yunketang_r12_c4.jpg" class="fl mr10 pt5" /> 1114人在学</i>
   </ol>
  </dd>
 </dl>
 <dl>
  <dt>
   <a href="#">
      <img src="images/yunketang_r4_c8.jpg" />
    </a>
  </dt>
  <dd class="boder-b pb10 clearfix pt10 overflow">
   <h1>
   <a href="#">唱初学者的十堂必修基的十堂必修基础V础VBS声音平衡</a>
   </h1>
   <ol class="pt15 w100 overflow clearfix">
    <em class="fl">￥255</em>
    <i class="fr mr10"><img src="images/yunketang_r12_c4.jpg" class="fl mr10 pt5" /> 1114人在学</i>
   </ol>
  </dd>
 </dl>
  </div>
  
 
 </div>
 
</div>
<div class="w58" style=" margin-top:100px"></div>

<div class="box_bg clearfix overflow f20 w100">
 <div class="wrapp overflow">
  <ul>
   <li><a href="#">我要分析</a></li>
   <li><a href="#">我要报名</a></li>
  </ul>
 </div>
</div>

<!--版权-->
<div class="copy_bg overflow clearfix w100">
 <div class="wrap overflow baise ">
  <p class="fl"><img src="images/index_r42_c7.jpg" /></p>
  <dl class="fl pl20">
  <dt><a href="#">首页</a>   <a href="#">培训信息</a>   <a href="#">会议信息</a>   <a href="#">专家信息</a>  <a href="#"> 场地信息</a>  <a href="#"> 在线培训</a>  <a href="#"> 培训机构</a>  <a href="#">  培训联盟</a>   <a href="#">人才招聘</a> 
  </dt>
  <dd>
  &copy; 2019 XX公司&nbsp;&nbsp;ICP备XXXXXXXX号&nbsp;&nbsp;技术支持：<a href="http://www.jsdaima.com/" title="js代码" target="_blank">js代码（www.jsdaima.com）</a> 
  </dd>
  </dl>
  <ol class="fr">
   <img src="images/index_r42_c38.jpg" />
  </ol>
 </div>
</div>

</body>
</html>
