{% extends 'base.html' %}
{% load myfun %}
{% block Title %}
<title>课程详情</title>

{% endblock %}
{% block body %}
{# 身体 #}


<script type="text/javascript">
var obj11 = document.getElementById("inner");
var top11 = getTop(obj11);
var isIE6 = /msie 6/i.test(navigator.userAgent);
window.onscroll = function(){

	var bodyScrollTop = document.documentElement.scrollTop || document.body.scrollTop;
	if (bodyScrollTop > top11){
		obj11.style.position = (isIE6) ? "absolute" : "fixed";
		obj11.style.top = (isIE6) ? bodyScrollTop + "px" : "0px";
	} else {
		obj11.style.position = "static";
	}
}
function getTop(e){

	var offset = e.offsetTop;
	if(e.offsetParent != null) offset += getTop(e.offsetParent);
	return offset;
}


</script>
<!--js-->
<div class="index_show">

    <ul class="bxslider" id="index-bxslider">
        {% for ads in ads2 %}
        <li class="item{{forloop.counter}}" style="background: url(/media/{{ads.img}}) center 0 no-repeat;"></li>
        {% endfor %}


    </ul>

    <div id="bx-pager">
        {% for ads in ads2 %}
        <a data-slide-index="{{forloop.counter0}}" href="javascript:void(0);">{{forloop.counter}}</a>
        {% endfor %}
    </div>

</div>

<script type="text/javascript" src="/static/js/jQuery.v1.8.3-min.js"></script>
<script type="text/javascript" src="/static/js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="/static/js/zzsc.js"></script>
<!--路径-->
<div class="wrapp pt10 overflow clearfix f18 l-35">
    <p class="fl"><img src="/static/images/t.jpg" class="fl pt15 pr10"/> <a href="/list">首页</a> > <a href="/list?type=teacher&teacher_id={{curriculum.teacher.id}}">{{curriculum.teacher}}</a> >
        <em class="red">{{curriculum.name}}</em></p>
</div>

<!--购买-->
<div class="wrapp pt20 overflow clearfix ">
    <img src="/static/images/goumai_r1_c1.jpg" width="400" height="300" class="fl"/>
    <div class="w782 fr overflow tl l-24">
        <h5 class="tl l-35 f20">{{curriculum.name}}</h5>
        <ol class="f12 hui tl">共{{curriculum.days}}天课程 &nbsp; &nbsp;|&nbsp;&nbsp; <img
                src="/static/images/goumai_r3_c7.jpg"/> ({{curriculum.teacher.stars}}) &nbsp;&nbsp;|&nbsp; &nbsp;239490人学习
        </ol>
        <ul>
            <li class="pt5">价格:<em class="red f18">￥{{curriculum.price}}</em></li>
            <li class="pt5">课程说明:{{curriculum.introduce}}</li>
            <li class="pt5">服费特权:<span class="tl"><img src="/static/images/goumai_r5_c8.jpg "/> 24小时内讲师答疑</span> <span
                    class="tl"><img src="/static/images/goumai_r5_c13.jpg "/>所有课时永久免费 <img
                    src="/static/images/goumai_r5_c15.jpg "/> 专属资料下载 <img src="/static/images/goumai_r5_c19.jpg "/> 购买课程返学分</span>
            </li>
        </ul>
        <dl>
            <dd><a href="{% url 'qikuapp:buy' %}" class="bg2">购买课程</a></dd>
            <dd><a href="#" class="bg2">加入购物车</a></dd>
        </dl>
        <div class="w100 pt15 clearfix fenx ">
            <ul>
                <li><img src="/static/images/goumai_r7_c5.jpg"/> <a href="#">收藏</a></li>
                <li>
                    <div class="bdsharebuttonbox fl" style="width:20px; height:30px; overflow:hidden"><a href="#"
                                                                                                         class="bds_more"
                                                                                                         data-cmd="more"></a><a
                            href="#" class="bds_qzone" data-cmd="qzone"></a><a href="#" class="bds_tsina"
                                                                               data-cmd="tsina"></a><a href="#"
                                                                                                       class="bds_tqq"
                                                                                                       data-cmd="tqq"></a><a
                            href="#" class="bds_renren" data-cmd="renren"></a><a href="#" class="bds_weixin"
                                                                                 data-cmd="weixin"></a>
                    </div>
                    <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];


                    </script>
                    <div class="fl "> 分享</div>
                </li>
                <li><img src="/static/images/goumai_r7_c10.jpg" class="pr5"/><a href="#" class="red">推广挣现金</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="wrapp pt50 overflow clearfix tl f18">
    评价商品
</div>

<div class="pingjia  overflow mt40 ">
    <div class="w100 l-35">
        <p class="f18 tl fl ">其它买家需要你的建议啊</p>
        <span class="fr tl"><img src="/static/images/p.jpg"/> 认真填写还可以获得<em class="cs f16">10</em>积分啊</span>
    </div>
    <div class="w100 clearfix pt20 overflow">
        <ul>
            <li class="tl l-30">评价商品</li>
            <li class="tl pt20">
                <textarea class="p_jia"></textarea>
            </li>
            <li class="tl">
                <input type="button" value="提交评价" class="tjdd fl"/>
            </li>
        </ul>
    </div>
</div>


<!--区域-->
<div class="wrapp pt20 overflow clearfix pb50 ">
    <!--left-->
    <div class="w880 fl overflow">
        <!--切换-->

        <script>
<!--
/*第一种形式 第二种形式 更换显示样式*/
function setTab(name,cursel,n){
for(i=1;i<=n;i++){
var menu=document.getElementById(name+i);
var con=document.getElementById("con_"+name+"_"+i);
menu.className=i==cursel?"hover":"";
con.style.display=i==cursel?"block":"none";
}
}
//-->


        </script>
        <div id="Tab622">
            <div class="Menubox622">
                <ul>
                    <li id="one1" onmousedown="setTab('one',1,2)" class="hover">培训内容
                    </li>
                    <li id="one2" onmousedown="setTab('one',2,2)" class="">累计评价</li>
                </ul>

            </div>
            <div class="Contentbox622">
                <div id="con_one_1" class="hover" style="display: block;">
                    <div class="about_inf1">
                        <ul>
                            <li>商品名称:乐悠居沙发</li>
                            <li>商品编号:3490</li>

                        </ul>

                    </div>
                    <div class="about_inf2">
                        <!--                        <p><img src="/static/images/shangpin_r22_c17.jpg"/></p>-->
                        <!--                        <p><img src="/static/images/shangpin_r27.jpg"/></p>-->
                    </div>


                </div>
                <div id="con_one_2" style="display: none;">

                    <div class="pinglun_bot pb20">
                        <ul>
                            <li>
                                <h3 class="f14 huise tr l-26 ">刚刚</h3>
                                <span class="bg12_t"><img src="/static/images/p_r2_c2.jpg"/></span>
                                <ol>
                                    坚决支持中国政府严正立场，拥护习总书记谈话。
                                    主权是不能谈判的，任何所谓仲裁都是无效的，废纸一张！
                                    这个仲裁庭算什
                                </ol>
                            </li>
                            <li>
                                <h3 class="f14 huise tr l-26 ">刚刚</h3>
                                <span class="bg12_t"></span>
                                <ol>
                                    坚决支持中国政府严正立场，拥护习总书记谈话。
                                    主权是不能谈判的，任何所谓仲裁都是无效的，废纸一张！
                                    这个仲裁庭算什
                                </ol>
                            </li>
                            <li>
                                <h3 class="f14 huise tr l-26 ">刚刚</h3>
                                <span class="bg12_t"></span>
                                <ol>
                                    坚决支持中国政府严正立场，拥护习总书记谈话。
                                    主权是不能谈判的，任何所谓仲裁都是无效的，废纸一张！
                                    这个仲裁庭算什
                                </ol>
                            </li>
                            <li>
                                <h3 class="f14 huise tr l-26 ">刚刚</h3>
                                <span class="bg12_t"></span>
                                <ol>
                                    坚决支持中国政府严正立场，拥护习总书记谈话。
                                    主权是不能谈判的，任何所谓仲裁都是无效的，废纸一张！
                                    这个仲裁庭算什
                                </ol>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>
        <!--切换-->
    </div>


    <div class="w298 fr overflow">
        <div class="w100 f20 tl l-30">
            <img src="/static/images/goumai_r10_c20.jpg" class="fl mr10 pt10"/> 扫一扫 手机也能看
        </div>
        <div class="w100 pt15 clearfix overflow">
            <img src="/static/images/goumai_r3_c6.jpg"/>
        </div>
        <div class="w100 f20 tl l-30 pt20">
            <img src="/static/images/goumai_r10_c20.jpg" class="fl mr10 pt10"/> 对此感兴趣的人
        </div>
        <div class="tu clearfix overflow w100">
            <ul>
                <li><a href="#"><img src="/static/images/goumai_r6_c7.jpg" width="42" height="42"/></a></li>
                <li><a href="#"><img src="/static/images/goumai_r6_c7.jpg" width="42" height="42"/></a></li>
                <li><a href="#"><img src="/static/images/goumai_r6_c7.jpg" width="42" height="42"/></a></li>
                <li><a href="#"><img src="/static/images/goumai_r6_c7.jpg" width="42" height="42"/></a></li>
            </ul>
        </div>


    </div>
    <div class="w58" style=" margin-top:100px"></div>

    <div class="box_bg clearfix overflow f20 w100">
        <div class="wrapp overflow">
            <ul>
                <li><a href="#">我要分析</a></li>
                <li><a href="#">我要报名</a></li>
            </ul>
        </div>
    </div>


    {% endblock %}