<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详情页</title>
    <link rel="stylesheet" href="/static/css/main.css">

</head>
<body>
    <div class="container">
        <h1>这里是详情页</h1>
        <div>
            <h2>书名：{{book.title}}</h2>
            <h2>价格：{{book.price}}元/本</h2>
            <h2>出版日期：{{book.pub_date}}</h2>
                <h3>书中人物</h3>
                {% for hero in book.hero_set.all%}
                <h3><li>{{hero.name}}--{{hero.gender}}</li></h3>
                {% endfor %}

        </div>
        <div class="end">
<!--         以下是优化   <button><a href="/booktest/index/">返回列表页</a></button>-->
<!--            <button><a href="/">返回列表页</a></button>-->
            <button><a href="{%url 'booktest:index' %}">返回列表页</a></button>

        </div>
    </div>

</body>
</html>