*{ margin:0 auto; padding:0;}
html, body, div, p, ol, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, img, textarea, iframe, table, th, td {
    margin: 0 auto;
    padding: 0; text-align:center
}
img {
    border: medium none;
    vertical-align: middle;
}
ol, ul, li {
    list-style-type: none;
}
h1, h2, h3, h4, h5, h6, table, th, td {
    font-size: 100%;
    font-weight: normal;
}
body, input, select, button, textarea {
    font-family: Arial,Microsoft yahei;
    font-size: 14px;
}
.normal, em, i {
    font-style: normal;
}
body {
    color: #282828;
    line-height: 23px; text-align:center; margin:auto; 
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
p {
    word-wrap: break-word;
}
a {
    color: #282828;
    text-decoration: none; 
}
a:hover {
    color: #B00305;
}
table {
    border-collapse: collapse;
}
input[type="button"] {
    outline: medium none;
}
.clearfix {
    display: block;
}
.overflow{ overflow:hidden}
.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.tl {
    text-align: left;
}
.tc {
    text-align: center;
}
.tr {
    text-align: right;
}
.f48{ font-size:48px; color:#555454}
.f12 {
    font-size: 12px;
}
.f14 {
    font-size: 14px;
}
.f16 {
    font-size: 16px;
}
.f18 {
    font-size: 18px;
}
.f20 {
    font-size: 20px;
}
.f24 {
    font-size: 24px;
}
.f30 {
    font-size: 30px; 
}
.f36 {
    font-size: 36px;
}
.undis {
    display: none;
}
.dis {
    display: block;
}
.diss {
    display: inline-block;
}
.w100 {
    width: 100%;
}
.wrap {
    width: 1166px;
}


.hui{ color:#CCCCCC}
.cs{ color:#FD9800}

.m-auto {
    margin-left: auto;
    margin-right: auto;
}
.l-19 {
    line-height: 19px;
}
.l-15 {
    line-height: 15px;
}
.l-24 {
    line-height: 24px;
}
.l-26 {
    line-height: 26px;
}
.l-30 {
    line-height: 30px;
}
.l-35 {
    line-height: 35px;
}
.l-50 {
    line-height: 50px;
}
.l-80 {
    line-height: 80px;
}
.pl8 {
    padding-left: 8px;
}
.p10 {
    padding: 10px;
}
.p15 {
    padding: 15px;
}
.p20 {
    padding: 20px;
}
.pl5 {
    padding-left: 5px;
}
.pl10 {
    padding-left: 10px;
}
.pl15 {
    padding-left: 15px;
}
.pl20 {
    padding-left: 20px;
}
.pl25 {
    padding-left: 25px;
}
.pl30 {
    padding-left: 30px;
}
.pl30 {
    padding-left: 30px;
}
.pl40 {
    padding-left: 40px;
}
.pt5 {
    padding-top: 5px;
}
.pt10 {
    padding-top: 10px;
}
.pt15 {
    padding-top: 15px;
}
.pt20 {
    padding-top: 20px;
}
.pt25 {
    padding-top: 25px;
}
.pt150 {
    padding-top: 150px;
}
.pt30 {
    padding-top: 30px;
}

.pt40 {
    padding-top: 40px;
}
.pt50 {
    padding-top: 50px;
}
.pt55 {
    padding-top: 55px;
}
.pt75 {
    padding-top: 75px;
}
.pt60 {
    padding-top: 60px;
}
.pb5 {
    padding-bottom: 5px;
}
.pb10 {
    padding-bottom: 10px;
}
.pb15 {
    padding-bottom: 15px;
}
.pb20 {
    padding-bottom: 20px;
}
.pb25 {
    padding-bottom: 25px;
}
.pb50 {
    padding-bottom: 50px;
}
.pr5 {
    padding-right: 5px;
}
.pr10 {
    padding-right: 10px;
}
.pr40 {
    padding-right: 40px;
}
.pr15 {
    padding-right: 15px;
}
.pr20 {
    padding-right: 20px;
}
.pr25 {
    padding-right: 25px;
}
.ml5 {
    margin-left: 5px;
}
.ml10 {
    margin-left: 10px;
}
.ml11 {
    margin-left: 11px;
}
.ml15 {
    margin-left: 15px;
}
.ml16 {
    margin-left: 16px;
}
.ml20 {
    margin-left: 20px;
}
.ml22 {
    margin-left: 22px;
}
.ml30 {
    margin-left: 30px;
}
.ml50 {
    margin-left: 50px;
}
.ml60 {
    margin-left: 60px;
}
.mr5 {
    margin-right: 5px;
}
.mr10 {
    margin-right: 10px;
}
.mr15 {
    margin-right: 15px;
}
.mr20 {
    margin-right: 20px;
}
.mr25 {
    margin-right: 25px;
}
.mr30 {
    margin-right: 30px;
}
.mr50 {
    margin-right: 50px;
}
.mr100 {
    margin-right: 100px;
}
.ml90 {
    margin-left: 90px;
}
.ml70 {
    margin-left: 70px;
}
.mt5 {
    margin-top: 5px;
}
.mt10 {
    margin-top: 10px;
}
.mt15 {
    margin-top: 15px;
}
.mt20 {
    margin-top: 20px;
}
.mt30 {
    margin-top: 30px;
}
.mt40 {
    margin-top: 40px;
}
.mt60 {
    margin-top:60px;
}
.mb5 {
    margin-bottom: 5px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb15 {
    margin-bottom: 15px;
}
.mb20 {
    margin-bottom: 20px;
}
.pt35{ padding-top:35px;}
.mm{ margin:20px}
.color-grey {
    color: #999;
}
.row {
    margin-left: -26px;
}
.row2 {
    margin-left: -30px;
}
.row3 {
    margin-left: -10px;
}
.row4 {
    margin-left: -16px;
}
.row5 {
    margin-left: -35px;
}
.row6 {
    margin-left: -14px;
}
.row7 {
    margin-left: -15px;
}
.f10{ font-size:10px}
.ml1{ margin-left:1px}
.blod{ font-weight:bold}
.huise{ color:#989697}
.lv{ color:#2D9D3B}
#cs{color:#F30;  }
.hui{color:#9F9F9F}
.boderr{ border:1px solid #CBCBCB}
.boder-r{ border-right:1px solid #CBCBCB}
.boder-b{ border-bottom:1px solid #CBCBCB}
.boder-t{ border-top:1px solid #CBCBCB}
.boder-l{ border-left:1px solid #CBCBCB}
.baise{ color:#fff}
.red{ color:#B00305}
.hs{ color:#535252}
.ls{ color:#2c4e71}
.f42{ font-size:42px}
.huise{ color:#a9a9a9}
.wrapp{ width:1214px}
#top_bgg{ background:#fff; }

.top_bg1{ background:#151515; height:40px; line-height:40px; color:#fff}

.log_bg{ background:url(../images/index_r1_c4.jpg) repeat-x; height:148px;}
.pl90{ padding-left:90px}
.w515{ width:515px;}
.ss_in{ width:401px; height:36px; border:1px solid #b00305; color:#868485; text-align:left; line-height:36px; font-size:14px; padding-left:5px; float:left}
.an_bg{ background:url(../images/index_r3_c29.jpg) no-repeat; width:106px; height:38px; border:none}
.w515 dd{ clear:both; padding-top:10px; line-height:25px; text-align:left; word-spacing:10px}
.w336 ol{ width:120px; background:#E9E9E9; height:39px; border-radius:5px;-webkit-border-radius:5px; line-height:39px}
.w336{ width:336px;}
/*nav*/
.nav_bg{ background:url(../images/index11_r2_c1bg.jpg) center 0px no-repeat; height:45px; font-size:16px; width:100%; text-align:center; margin:auto; z-index:10000000000}
.nav_bg li{ float:left; background:url(../images/index_r9_c39.jpg) right 0px no-repeat; height:45px;  line-height:45px;}
.nav_bg li:last-child{ background:none}
.nav_bg li a{ color:#fff;padding:0px 22px}
.wrappp{ width:1260px}
.nav_bg li a:hover{ color:#FF0;background:-moz-linear-gradient(top,#fdbb5a,#db5726); height:45px; display:block;padding:0px 22px }

.baoming{ background:#fefefe; width:315px; border-radius:3px; height:38px; line-height:38px; font-size:16px; word-spacing:10px; z-index:10000; position:absolute; right:0; top:400px}

.flexslider{position:relative;height:450px;overflow:hidden;background:url(../images/loading.gif) 50% no-repeat; z-index:1; clear:both; }
.slides{position:relative;z-index:1;}
.slides li{height:450px;}
.flex-control-nav{position:absolute;bottom:30px;z-index:2;width:100%;text-align:center;}
.flex-control-nav li{display:inline-block;width:14px;height:14px;margin:0 5px;*display:inline;zoom:1;}
.flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:40px;overflow:hidden;background:url(../images/dot.png) right 0 no-repeat;cursor:pointer;}
.flex-control-nav .flex-active{background-position:0 0;}

.flex-direction-nav{position:absolute;z-index:3;width:100%;top:45%;}
.flex-direction-nav li a{display:block;width:50px;height:50px;overflow:hidden;cursor:pointer;position:absolute;}
.flex-direction-nav li a.flex-prev{left:40px;}
.flex-direction-nav li a.flex-next{right:40px;}
.fon_z{ font-family:Arial}
.w1000{overflow:hidden;
	position:relative;
	text-align:center;
	margin:auto; width:100%; height:155px }

.w1000 p {  width:1920px; 
            position:absolute;
            left:50%;
            margin-left:-960px; 
	}
	
.warpo{ width:1214px; z-index:20000; position:relative;}
.w555{ width:555px}
.bg_r1{ background:url(../images/index_r13_c25.jpg) center 0px no-repeat;}
.huicui li{ float:left; margin:0px 6px 10px 0px;}
.huicui li a{ width:102px; height:32px; border:1px solid #E9E9E9; text-align:center; line-height:32px; display:block}
.huicui li a:hover{ width:102px; height:32px; border:1px solid #B00305; text-align:center; line-height:32px; background:#B00305;  display:block; overflow:hidden; color:#fff; transition: all 0.2s ease-out 0s;}
.list_inf li{ width:111px; float:left; line-height:40px; border-bottom:1px dashed #C0C0C0; text-align:center}
.list_inf li a:hover{ background:#B00305; color:#fff}
.bot_bg2{ background:url(../images/index_r19_c1.jpg) center 0px no-repeat; height:35px;}

/*最新培训*/
.main_bg{ background:url(../images/index_r25_c2.jpg) repeat ; padding:-5px}
.bg_more{ width:128px; background:#EFEDEE; height:32px; line-height:32px; text-align:center; border-radius:5px;-moz- border-radius:5px;-webkit-border-radius:5px}
.w400{ width:400px;}
.bg_n1{ background:#EBEBEB; height:158px}
.w400 ol{ width:152px; text-align:left; line-height:22px; padding:10px 10px 10px 0px ; overflow:hidden; font-size:12px; color:#A0A0A0}
.w400 ol h5{ width:152px; line-height:30px; font-size:18px; text-overflow:ellipsis; height:30px; overflow:hidden;white-space:nowrap;}
.w400 li{ background:url(../images/index_r28_c7.jpg) 0px 6px no-repeat; line-height:27px; text-align:left; padding-left:20px; }
.w400 li span{ float:right}

.w760{ width:760px}
.w760 li{ float:left; padding-left:33px; padding-bottom:16px;width:220px;}
.w760 li h3{ width:220px; line-height:26px; font-size:16px; text-overflow:ellipsis;  overflow:hidden;white-space:nowrap; text-align:left}
.w760 li ol{ width:220px; line-height:26px; font-size:12px; text-overflow:ellipsis;  overflow:hidden;white-space:nowrap; text-align:left}
.w760 li img:hover{-webkit-transform-style:preserve-3d;-webkit-transition:1.5s;-moz-transform-style:preserve-3d;-moz-transition:1.5s; opacity:0.7}

.hr{ background:#F0F0F0; height:1px; overflow:hidden}
.huiyi{ border-bottom:1px dashed #818181; padding-bottom:10px;}
.huiyi li{ float:left; padding-right:42px}
.huiyi li:last-child{padding-right:0px}
.huiyi li span{ width:100%; text-align:center; line-height:40px; display:block}
.huiyi li img:hover{-webkit-transform-style:preserve-3d;-webkit-transition:1.5s;-moz-transform-style:preserve-3d;-moz-transition:1.5s;box-shadow: 10px 10px 5px #dad9d9;}
.huiyi_li{ }
.huiyi_li li{width:544px; float:left; margin-left:26px; background:url(../images/index_r32_c10.jpg) 0px 11px no-repeat; padding-left:25px; line-height:30px; text-align:left; font-size:14px;}
.huiyi_li li span{ float:right; color:#aeadad}

/*训训专家库*/

.xx_zj li{ float:left; margin-right:38px;}
.xx_zj  li:last-child{ margin-right:0px;}
.xx_zj li p{ position:relative; width:162px; height:102px}
.xx_zj li p em{ position:absolute; z-index:2; left:20px;top:66px;}
.xx_zj li span{width:162px; text-align:left; line-height:15px; font-size:12px; color:#609ADA; display:block;text-overflow:ellipsis;  overflow:hidden;white-space:nowrap;}
.xx_zj li  a:hover img{-webkit-transform-style:preserve-3d;-webkit-transition:1.5s;-moz-transform-style:preserve-3d;-moz-transition:1.5s; opacity:0.6; }

.xunxun_bot dl{ clear:both; width:100%; margin-top:15px; overflow:hidden}
.xunxun_bot dl dt{ width:91px; height:30px; background:url(../images/index_r34_c11.jpg) no-repeat; text-align:left; padding-left:20px; line-height:30px; font-size:16px; color:#fff; float:left}
.xunxun_bot dl dd{width:1002px; float:right; line-height:32px; font-size:12px; text-align:left; word-spacing:10px;}
.xunxun_bot dl dd span{ float:right}
.xunxun_bot dl dd span a{ color:#609ADA}

.bg_n1 .nr{ height:80px; overflow:hidden; text-align:left; line-height:20px;}
.bg_n1 .gw{ padding-top:10px; color:#F45209; font-weight:bold}
.bg_n1 .gw i{font-weight:bold}
.w760 li p{ width:212px; position:relative; overflow:hidden}
.gwh  span a{text-overflow:ellipsis;  overflow:hidden;white-space:nowrap; line-height:22px; width:100px; text-align:left; height:22px; float:left}
.w760 li p em{ position:absolute; z-index:2;top:0; left:0}
.gwh{ text-align:left; padding-top:10px; overflow:hidden}
.gwh i{color:#F45209; font-weight:bold}

.w860{ width:860px}
.w860 li{ float:left; margin-left:26px; padding-bottom:15px;}
.w860 li p{ width:192px; position:relative}
.w860 li p em{ right:10px; top:140px; position:absolute;}
.w860 li  span{ width:172px; height:42px; background:#F7F7F7; display:block; text-align:center; line-height:42px;text-overflow:ellipsis;  overflow:hidden;white-space:nowrap; padding:0px 10px }

.w860 li   a:hover img{-webkit-transform-style:preserve-3d;-webkit-transition:1.5s;-moz-transform-style:preserve-3d;-moz-transition:1.5s; opacity:0.8; background:#C00}

.w280{ width:280px; background:#EAEAEA}
.w280 li{ background: url(../images/index_r40_c35.jpg) 15px 17px no-repeat; line-height:40px; text-align:left; padding-left:30px;text-overflow:ellipsis;  overflow:hidden;white-space:nowrap; }

/*链接*/
.links_bg{ background:#FBFBFB; padding:20px 0px}
.links a{ float:left; margin-left:10px;}
/*版权*/
.copy_bg{ background:#373536; padding:30px 0px}
.copy_bg dl{ width:600px; font-size:14px; color:#edecec; padding-top:15px;}
.copy_bg dl a{ color:#edecec; padding-right:10px; text-align:left;}
.copy_bg dl dd{ text-align:left}

/*培训信息*/
.index_show{position: relative;z-index: 2;width: 100%;background: #fff; }
.bxslider{height: 286px;overflow: hidden;width: 100%;}
.bxslider li{width: 100%;height: 286px;overflow: hidden;}
.bxslider .item1{background: url(../images/slider1.png) center 0 no-repeat;}
.bxslider .item2{background: url(../images/slider1.png) center 0 no-repeat;}
.bxslider .item3{background: url(../images/slider1.png) center 0 no-repeat;}
.bx-controls{display: none;}
#bx-pager{position: absolute;left: 77%;bottom: 0px;z-index:10;margin-left: -90px;background: url(../images/shadow1.png) 0 bottom no-repeat;padding-bottom: 6px;}
#bx-pager a{float: left;width: 30px;height: 30px;line-height: 30px;text-align: center;font-size: 20px;background: #fff;color: #999;font-family: "宋体"; margin-left:2px}
#bx-pager a:hover{text-decoration: none;}
#bx-pager .active{position: relative;background: #fd825c;color: #fff;}
#bx-pager .active::before{content: '';position: absolute;top:-10px;left: 15px;border: 5px solid transparent;border-bottom: 5px solid #fd825c;}

.peixun li{ float:left;  line-height:30px; padding:0px 5px }
.peixun li a:hover{ background:#B00305; color:#fff}

.liveCourse ul.liveList {
    margin-top: 25px;
}
.liveCourse ul.liveList li {
    border: 2px solid #eeeeee;
    float: left;
    height: 206px;
    margin: 0 26px 18px 0;
    padding: 14px 15px;
    width: 250px;
}
.liveCourse ul.liveList li:last-child{margin: 0 0px 18px 0;}
.liveCourse ul.liveList li:hover {
    border-color: #34baff;
}
.liveCourse ul.liveList li a {
    display: inline-block;
    height: 115px;
    width: 250px;
}
.liveCourse ul.liveList li img.liveImg {
    display: block;
    height: 115px;
    width: 250px;
}
.liveCourse ul.liveList li a .mask {
    background: rgba(76, 73, 73, 0.7) none repeat scroll 0 0 !important;
    display: none;
    height: 115px;
    margin-top: -115px;
    position: relative;
    width: 250px;
    z-index: 1;
}
.liveCourse ul.liveList li:hover .mask {
    display: block;
}
.liveCourse ul.liveList li a .mask .liveCode {
    float: left;
    height: 100px;
    margin: 7px 10px 0 30px;
    width: 100px;
}
.liveCourse ul.liveList li a .mask .maskRight {
    float: left;
    margin-top: 38px;
}
.liveCourse ul.liveList li a .mask .maskRight p {
    color: #fff;
    font-size: 15px;
    line-height: 25px;
    position: relative;
}
.liveCourse ul.liveList li p.liveTitle, .liveCourse ul.liveList li p.liveTime {
    color: #919191;
    font-size: 14px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.liveCourse ul.liveList li a .logoBox { font-style:normal;
    float: left; 
}
.liveCourse ul.liveList li a .logoBox em {font-style:normal; }
.liveCourse ul.liveList li a .logoBox img.liveLogo {
    float: left;
    height: 36px;
    width: 36px; font-style:normal
}
.liveCourse ul.liveList li a .liveName {
    color: #8ec831;
    float: left;
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    margin-left: 10px;
}

.youthModel ul.modelList {
    margin-top: 10px;
}
.youthModel ul.modelList li {
    background-color: #f4f4f4;
    margin-bottom: 30px; border:1px solid #CCC
}
.youthModel ul.modelList li a.modelImg, .youthModel ul.modelList li div.modelRight {
    float: left;
}
.youthModel ul.modelList li div.modelRight {
    margin-left: 40px;
    width: 658px;
}
.youthModel ul.modelList li div.modelRight a.modelTitle {
    color: #3a3a3a;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    margin: 17px 0;
}
.youthModel ul.modelList li div.modelRight a.modelTitle:hover {
    color: #ff7e00;
}
.youthModel ul.modelList li div.modelRight p.modelIntro {
    color: #666666;
    font-size: 14px;
    line-height: 26px;
}

.page{ width:560px; margin:0 auto; margin-top:25px; margin-bottom:20px; font-size:12px; font-family:"microsoft yahei"; overflow:hidden; text-align:center; margin:auto}
.page a{display:block; float:left; height:30px; border:1px solid #bcbcbc; line-height:30px; padding:0 15px; margin:0 3px; color:#666; overflow:hidden;}
.page a:hover,a.cur{background:#b00305; color:#fff; border:1px solid #b00305; text-decoration:none;}

/*专家库*/
.z_list{ background:#FAF8F9; border:1px solid #F3F3F3; padding:10px 0px}
.z_list dl{ width:556px; float:left; margin-left:20px; padding:10px 0px;}
.z_list dl dt{ background:url(../images/zj_r2_c3.jpg) no-repeat; width:76px; height:30px; text-align:left; line-height:30px; font-size:14px; padding-left:10px; color:#fff; float:left}
.z_list dl dd{ width:466px; float:right; word-spacing:13px; text-align:left; line-height:35px; font-size:13px;}

.t_j_zj li{ float:left; margin-right:33px;}
.t_j_zj li:last-child{margin-right:0px;}
.t_j_zj li div{ border:1px solid #ebe9e9;  width:264px}
.t_j_zj li div:hover{ border:1px solid #ff6d3a;  width:264px}

.t_j_zj li div p{ width:264px; position:relative}
.t_j_zj li div p i{ position:absolute; z-index:2; top:0px; right:0px}
.t_j_zj li div dl{ width:264px; clear:both; padding:10px 0; overflow:hidden}
.t_j_zj li div dl dt{ float:left; font-size:18px; padding-left:10px; padding-top:10px; }
.t_j_zj li div dl dt  a{ color:#FE6D00; font-weight:bold}
.t_j_zj li div dl dd{ width:180px; height:40px; line-height:20px;  text-align:left; font-size:12px; overflow:hidden; float:right; padding-right:10px; color:#666}
.t_j_zj li div p   a:hover img{-webkit-transform-style:preserve-3d;-webkit-transition:1.5s;-moz-transform-style:preserve-3d;-moz-transition:1.5s; opacity:0.6; }

.zhuanjia li{ float:left; margin-left:35px; padding-top:20px; }
.zhuanjia li  dl{ width:264px; clear:both; padding:10px 0; overflow:hidden}
.zhuanjia li  dl dt{ float:left; font-size:18px; padding-left:10px; padding-top:10px; }
.zhuanjia li  dl dt  a{ color:#FE6D00; font-weight:bold}
.zhuanjia li  dl dd{ width:180px; height:40px; line-height:20px;  text-align:left; font-size:12px; overflow:hidden; float:right; padding-right:10px;color:#666}
.zhuanjia li    a:hover img{-webkit-transform-style:preserve-3d;-webkit-transition:1.5s;-moz-transform-style:preserve-3d;-moz-transition:1.5s; opacity:0.6; background:#000;  }

.img-scroll { position:relative; margin:0px auto; width:1010px; float:right}
.img-scroll .prev,.img-scroll .next { position:absolute; display:block; width:15px; height:15px;
 top:-20px; right:0px }
.img-scroll .prev { right:20px}
.img-scroll .next { right:0}
.img-list { position:relative; width:1010px; height:186px;  overflow:hidden; margin-top:3px; }
.img_list1{ width:1010px; height:190px; overflow:hidden; }
.img_list1 ul{width:1010px; height:190px; overflow:hidden;}
.img_list1 ul li{ text-align:left;   float:left; margin-left:28px;}

.img_list1 ul li p{ width:224px; height:144px;  overflow:hidden}
.img_list1 ul li p img{ text-align:center;  display:block; width:224px; height:144px;  }
.img_list1 ul li p a:hover img{ text-align:center;  display:block; width:224px; height:144px;-webkit-transform:scale(1.2,1.2);
    -moz-transform:scale(1.2,1.2);
    -transform:scale(1.2,1.2); -moz-transition:1.5s; }

.img_list1 ul li span{ text-align:left; line-height:22px; font-size:14px; display:block; width:224px}

.yunketang dl{ float:left; margin-left:30px;width:280px; padding-top:20px}
.yunketang dl dt{width:280px; height:158px; overflow:hidden}
.yunketang dl dt a img{ width:280px; height:158px;}
.yunketang dl dt a:hover img{ text-align:center;  display:block; width:280px; height:158px;-webkit-transform:scale(1.2,1.2);
    -moz-transform:scale(1.2,1.2);
    -transform:scale(1.2,1.2); -moz-transition:1.5s; }
.yunketang dl h1{ width:280px;white-space:nowrap; text-overflow:ellipsis; line-height:30px; overflow:hidden; }
.yunketang dl h1 a{ font-size:16px; line-height:30px; text-align:center}
.yunketang dl ol em{ background:#FBC121; padding:2px 10px; color:#fff;  text-align:center}

.w496{ width:550px}
.w496 li{ clear:both; padding-top:10px; font-size:15px}
.r11{ width:20px; height:20px; font-size:12px; font-family:Arial; color:#fff; line-height:20px; float:left; background:#F13430}
.n11{ width:430px; float:left; margin-left:10px;white-space:nowrap; text-overflow:ellipsis; line-height:20px; overflow:hidden; text-align:left}
.ri1{ float:right; color:#BEBEBE; width:86px; line-height:20px}
.r12{ width:20px; height:20px; font-size:12px; font-family:Arial; color:#fff; line-height:20px; float:left; background:#BBBBBB}


/*免费公开课*/
.mf{ border-bottom:1px solid #eae9e9}
.mf li{ width:100px; height:26px; float:left; margin-right:1px; font-size:16px}
.mf li a{width:100px; height:26px; background:#f4f3f3; display:block; border-radius:3px;-webkit-border-radius:3px;}
.mf li a:hover{width:100px; height:26px; background:#B00305; display:block; color:#fff}

.row1{ margin-left:-64px}
.zhuboli {
    float: left;
    height: 190px;
    margin-left: 64px;
    margin-bottom: 20px;
    position: relative;
    width: 254px; padding-bottom:10px
}
.zhuboli:hover{ box-shadow:0px 5px 5px 5px #f4f3f3; height:190px;-moz-transition:1.5s;}
.zhubohead {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 5;
}
.zhubohead img {
    border: 5px solid #ffffff;
    border-radius: 50%;
    float: left;
    height: 45px;
    width: 45px;
}
.zhuboname {
    color: #666666;
    float: left;
    font-size: 16px;
    margin-left: 4px;
    margin-top: 6px;
}
.piclink {
    background-color: #eeeeee;
    border-radius: 5px;
    display: block;
    height: 115px;
    padding: 2px;
    position: relative;
    width: 250px;
}
.minicode {
    background: rgba(0, 0, 0, 0) url("../images/minicode.jpg") no-repeat scroll 0 0;
    bottom: 0;
    height: 26px;
    position: absolute;
    right: 0;
    width: 26px;
}
.mask {
    background: rgba(0, 0, 0, 0) url("../images/pichover.png") repeat scroll 0 0;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5;
}

.ewcode {
    float: left;
    height: 100px;
    margin-left: 28px;
    margin-top: 10px;
    width: 100px;
}
.maskRight {
    float: left;
    margin-left: 8px;
    margin-top: 38px;
    text-align: center;
}
.maskRight p {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
}
.v_info {
    margin-top: 10px;
    width: 100%;
}
.actWrap {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    width: 100%; padding-left:5px
}
.actlink {
    color: #000000;
    display: block;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.actlink:hover {
    color: #ff7e00;
}
.timeWrapB {
    height: 30px;
    width: 100%;
}
.timeWrap {
    margin-top: 2px;
    width: 100%;
}
.roomname {
    color: #666666;
    font-size: 12px;
}
.timeF {
    color: #666666;
    float: left;
    font-size: 12px;
}
.timeFB {
    color: #666666;
    float: left;
    font-size: 12px;
    margin-top: 10px;
}
.timeBs {
    color: #666666;
    float: left;
    font-size: 12px;
    margin-left: 10px;
}
.timeBb {
    color: #666666;
    float: right;
    font-size: 24px;
}
.jjzbWrap {
    padding-bottom: 30px;
    width: 100%;
}
.backzbWrap {
    padding-bottom: 30px;
    width: 100%;
}

/*培训机构*/
.w250{ width:250px}
.pest_bg1{ background:#F9F7F8; border:1px solid #DEDEDE; padding:3px  0 10px 0; width:248px}
.pest_bg1_top{ background:url(../images/peixun_r1_c2.jpg) no-repeat; height:45px; width:248px; line-height:45px}

.pest_list_l{ width:222px; text-align:center; margin:auto}
.pest_list_l li{ text-align:left; line-height:30px; background:url(../images/peixun_r5_c3.jpg) 0px 10px no-repeat; padding-left:13px; white-space:nowrap; text-overflow: ellipsis; overflow:hidden}

 .accordion {
 	width: 222px;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	border-radius: 4px; text-align:center; margin:auto
 }

.accordion .link {
	cursor: pointer;
	display: block;
	padding: 15px 15px 15px 42px;
	color: #4D4D4D;
	font-size: 16px;
	font-weight: 700;
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease; background:#CCE0DF; color:#395563
}
.accordion .link#r1f {
	cursor: pointer;
	display: block;
	padding: 15px 15px 15px 42px;
	color: #4D4D4D;
	font-size: 16px;
	font-weight: 700;
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease; background:#6EA9AD;color:#486E79
}

.accordion .link#r2f {
	cursor: pointer;
	display: block;
	padding: 15px 15px 15px 42px;
	color: #4D4D4D;
	font-size: 16px;
	font-weight: 700;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease; background:#395563;color:#8FA4A9;
}


.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: #595959;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
}

.accordion li.open .link {
	color: #b63b4d;
}

.accordion li.open i {
	color: #b63b4d;
}
.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.nav{
	width: 220px;
	overflow:hidden; text-align:center; margin:auto; 
	
	
}
.nav label{
	display: block;
	position: relative;
	height: 34px;
	cursor: pointer;
	z-index: 20; background:url(../images/peixun_r13_c6.jpg) 10px 17px no-repeat; text-align:left; line-height:34px; padding-left:20px
	
}

.nav label i{
	display:block;
	padding:3px 17px 0 0;
	font-size:20px;
}
.nav input{
	display: none;
}
.nav input:checked + label,
.nav input:checked + label, .nav input:checked + label:hover { background:url(../images/peixun_r12_c5.jpg) 0px 0px no-repeat; color:#fff; height:34px;
    
}
/*** Right Icon ***/
.nav label i.i-right1,
.nav label i.i-right2{
	float:right;
	margin-right:15px;
	padding:6px 0 0 0;
	
	transition:all .7s;
	-webkit-transition:all .7s;
	-moz-transition:all .7s;
	-o-transition:all .7s;
	-ms-transition:all .7s;
}
.nav label i.i-right2{
	display:none;
}

/*** .content Class *********************/
.content{
	position: relative;
	height: 80px;
	margin-top: -1px;
	overflow:hidden;
	z-index: 10;
}
.content p{
	padding: 2px 15px 5px 10px;
	margin-left:15px;
	border-left:10px solid;
}
.content h4{
	padding:8px 0 7px 15px;
}
.content h6{
	padding:8px 15px 10px 15px;
	margin:10px;
	
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}
.content h6 i{
	padding:0 5px;
	font-size:10px;
}
.nav input:checked ~ div.content{	
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
	-webkit-box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
	-moz-box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}

/*** For Change Animation Effects ****/
.nav input:checked ~ .content p{       
	-webkit-animation: zoomIn .7s 1;
	animation: zoomIn .7s 1;
}
.nav input:checked ~ .content h6{       
	-webkit-animation: fadeIn 2s 1;
	animation: fadeIn 2s 1;
}

.pest_ui li { width:106px; height:80px; overflow:hidden; position:relative; float:left; padding:10px 0px 0px 10px}
.pest_ui li  ol{ width:106px; height:20px; line-height:20px; background:#000; opacity:0.8; color:#fff; white-space:nowrap; text-overflow:ellipsis; font-size:12px; left:10px;top:70px; position:absolute}

.w936{ width:936px;}
.p_li a{ float:left; padding:0px 8px; line-height:30px; font-size:16px}
.p_lii dl{  float:left; margin-left:15px; padding-top:10px; border-bottom:1px solid #CCCCCC; padding-bottom:15px;}
.p_lii dl dd{ background:url(../images/peixun_r16_c18.jpg) 0px 12px no-repeat;text-align:left; line-height:20px; font-size:12px; color:#999; width:220px; clear:both; height:66px; overflow:hidden}
.p_lii dl dd a{  text-align:left; line-height:30px; padding-left:10px; font-size:16px }

/*路演*/
.row8{margin-left:-38px;}
.ly dl{ float:left; margin-left:38px; border:1px solid #F4F4F4; width:272px; height:346px; margin-top:20px}
.ly dl:hover{ border:1px solid #EECB2F;}
.ly dl dt{ width:260px; height:198px; overflow:hidden; margin-top:5px}
.ly dl dt a:hover img{ text-align:center;  display:block;width:260px; height:198px;-webkit-transform:scale(1.2,1.2);
    -moz-transform:scale(1.2,1.2);
    -transform:scale(1.2,1.2); -moz-transition:1.5s; }
.ly dl dd{width:272px; clear:both; padding-top:5px; overflow:hidden}
.ly dl dd h5{ width:252px; background:#F4F4F4; height:44px; line-height:44px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; text-align:center; padding:0px 10px}
.ly dl dd ol{ padding:13px 10px; overflow:hidden; text-align:left; line-height:24px; color:#666; height:40px;}

/*人才招聘*/
.w214{ width:214px;}
.w214 h5{ width:180px; background:url(../images/renc_r2_c2.jpg) no-repeat; height:40px; text-align:left; font-size:18px; color:#fff; padding-left:34px; line-height:40px}
.w980{ width:980px; border-left:1px solid #F4F4F4;}
.w958{ width:958px}

.job_search {
    color: #999999;
    line-height: 30px;
    overflow: hidden;
    padding-left: 18px;
    padding-top: 20px;
}
.job_search .job_sear {
    height: 24px;
    padding-bottom: 10px;
}
.job_ser1 {
    float: left;
    height: 22px;
    margin-right: 8px;
    width: 312px;
}
.job_search .job_text {
    border: 1px solid #dedede;
    color: #999;
    height: 20px;
    line-height: 20px;
    width: 310px;
}
.job_search .sle {
    border: 1px solid #dedede;
    color: #999;
    height: 18px;
    line-height: 18px;
    width: 160px;
}
.job_search form input {
    margin-bottom: 8px;
    vertical-align: middle;
}
.job_subm {
    background: #e6e6e6 none repeat scroll 0 0;
    border: 1px solid #dadada;
    color: #989898;
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    width: 50px;
}
.job_list {
    padding-left: 18px;
    padding-top: 50px;
}
.job_list strong {
    color: #b0b0b0;
}
.job_list font {
    color: #bebebe;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
}
.job_title {
    line-height: 16px;
}
.job_con_list {
    overflow: hidden;
    padding-bottom: 150px;
    padding-top: 22px;
}
.job_tab {
    width: 100%;
}
.job_tab th {
    background: #ecedeb none repeat scroll 0 0;
    color:#333;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    text-align: center;
}
.job_tab td {
    border-bottom: 1px dashed #c5c5c5;
    color: #999999;
    height: 35px;
    line-height: 35px;
    text-align: center;
}
.job_tab td img {
    display: inline;
    vertical-align: middle;
}
.job_tab th font {
    font-family: Arial,Helvetica,sans-serif;
}

/*培训场地*/
.px_li{ border:1px solid #E0E0E0; width:1212px; padding:20px 0px}
.px_li dl{ padding:5px 20px 8px 20px; clear:both; overflow: hidden}
.px_li dl dt{ background:url(../images/peix_r2_c3.jpg) no-repeat; width:72px; height:30px; float:left; font-size:14px; color:#fff; line-height:30px; padding-left:10px; text-align:left}
.px_li dl dd{ width:1065px; float:right; text-align:left; padding-top:4px; overflow:hidden}
.px_li dl dd span a{ background:#FE9900; padding:3px 6px 3px 6px; color:#fff; border-radius:3px;-moz-border-radius:3px}
.px_li dl dd a{ margin-right:15px;}

.w950{ width:950px;border:1px solid #E0E0E0;}
.w950_top{ background:#FBFBFB; height:38px; line-height:38px;border-bottom:1px solid #E0E0E0;}
.w950_top li{ float:left}
.w1{ width:476px}
.w2{ width:243px}
.w3{ width:222px}
.w950_bot ul{ clear:both; padding:10px 0px;  overflow:hidden; border-bottom:1px solid #E0E0E0}
.w950_bot li{ float:left}
.w2 em { font-size:18px}
.w3 a{ background:#C4101B; padding:5px 16px 5px 16px; color:#fff; border-radius:3px;-moz-border-radius:3px; }
.w3 em { font-size:18px}
.w248{ width:248px;}
.main_w248{border:1px solid #E0E0E0; width:246px}
.main_w248 h5{ background:#F2F2F2; height:40px; line-height:40px; border-bottom:#E4E4E4 1px solid}
.main_w248 ul{ padding:20px; overflow:hidden}
.main_w248 ul li{ text-align:left; line-height:19px; padding:10px 0px; color:#666766}
.main_w248 ul li a{color:#666766}

/*购买*/
.w782{ width:782px;}
.w782 ul{width:782px; clear:both}
.w782 ul li{ text-align:left; line-height:30px}
.w782 dl{width:782px; clear:both}
.w782 dl dd{ float:left; padding-right:12px;}
.bg1{ width:200px; height:56px; background:#B90006; text-align:center; line-height:56px; font-size:18px; color:#fff; display:block}
.bg2{ width:200px; height:56px; background:#00ADEF; text-align:center; line-height:56px; font-size:18px; color:#fff; display:block}
.fenx li{ float:left; text-align:left; line-height:30px; padding-right:10px;}
.w880{ width:880px}

#Tab622 {
    height: auto;
    
    width: 878px; clear:both; overflow:hidden; border:1px solid #ddd
}
.Menubox622 {
    
    height: 39px;
    overflow: hidden;
    width: 878px; background: url(../images/shangpin_r22_c27.jpg) repeat-x
}
#Tab622 .Menubox622 li {
    cursor: pointer;
    display: block;
    float: left;
    height: 39px;
    line-height: 39px;
    text-align: center;
    width: 120px;border-right: 1px solid #E5E5E5; font-size:14px;
}
#Tab622 .Menubox622 li.hover {
    
    color: #D6281D;
    display: block;
    font-size: 14px;
    height: 39px;
    line-height: 39px;
    width: 120px; border-right: 1px solid #E5E5E5; background: url(../images/shangpin_r22_c17.jpg) repeat-x;
}

.Contentbox622 {
    clear: both;
    height: auto;
    overflow: hidden;
    width: 840px; margin-top:20px;
}
.about_inf1{ width:840px;  overflow:hidden; border-bottom:1px  solid #ddd;padding-bottom:10px;}
.about_inf1 ul{ width:840px; text-align:center; margin:auto; }
.about_inf1 ul li{ width:210px; text-align:left; float:left; line-height:30px; }
.about_inf1 p{ text-align:left; line-height:26px; padding:10px 40px 10px 40px ; overflow:hidden; clear:both}
.about_inf2{width:840px; padding-top:10px; overflow:hidden; clear:both; text-align:left; line-height:22px;}
.about_inf2 p img{ width:800px; height:100%}

.w298{ width:258px; border:1px solid #D6D6D6; padding:20px}
.tu li{ float:left; padding-left:20px; padding-top:15px; overflow:hidden}

.suibian  dl{ width:280px; padding-top:20px}
.suibian  dl dt{width:280px; height:158px; overflow:hidden}
.suibian  dl dt a img{ width:280px; height:158px;}
.suibian  dl dt a:hover img{ text-align:center;  display:block; width:280px; height:158px;-webkit-transform:scale(1.2,1.2);
    -moz-transform:scale(1.2,1.2);
    -transform:scale(1.2,1.2); -moz-transition:1.5s; }
.suibian  dl h1{ width:280px;white-space:nowrap; text-overflow:ellipsis; line-height:30px; overflow:hidden; }
.suibian  dl h1 a{ font-size:16px; line-height:30px; text-align:center}
.suibian  dl ol em{ background:#FBC121; padding:2px 10px; color:#fff;  text-align:center}

.w888{ width:888px; }
.bt{width:888px; height:auto; text-align:center;   }
.bt h4{ font-size:30px; font-family:"microsoft yahei";}
.bt span{ margin-top:6px; color:#979696; font-size:12px; padding-bottom:4px;}

.con{width:888px; height:auto; font-size:14px; line-height:27px; text-align:left; margin-top:15px; clear:both}

.con p{ text-align:left}
.con p img{ text-align:center; display:block}
.soso a{ float:left; padding:0px 5px 0px 5px; line-height:30px; text-align:left}

.tuijian{ width:880px}
.tuijian li{ width:420px; margin-right:10px; float:left; background:url(../images/n_r10_c3.jpg) 0px 12px no-repeat; text-align:left; padding-left:10px; line-height:30px; white-space:nowrap; text-overflow: ellipsis; overflow:hidden}

.w286{ width:286px}
.jp li{ background: url(../images/tt.jpg) 0px 10px no-repeat; text-align:left; line-height:30px; padding-left:20px; margin-top:15px; overflow:hidden; font-size:16px}
.rm li{ clear:both; padding-top:15px; overflow:hidden; text-align:left}
.rm li ol{ width:186px; float:left}
.rm li ol a{width:186px; clear:both; line-height:19px;  overflow:hidden; height:40px; display:block; text-align:left; border-bottom:1px solid #eeefee}

.box_bg{ background:#B90006; height:48px; position:fixed; z-index:20000;  bottom:0px; line-height:48px; left:0px; display:block; color:#fff}
.box_bg a{ color:#fff;}
.box_bg ul{ width:300px; text-align:center; margin:auto}
.box_bg li{ width:140px; float:left; text-align:center; margin-left:10px;}
.bg_r1{}
.pinglun_bot{width:800px; clear:both;  overflow:hidden}
.pinglun_bot li{ text-align:left; line-height:24px; border-bottom:1px dashed #CCC; padding:10px 0px;  overflow:hidden}

.bg12_t{ background:url(../images/p_r2_c2.jpg) 0px no-repeat; width:40px; height:40px; float:left; margin-right:20px;}
.pinglun_bot li ol{ width:736px; float:right; text-align:left; line-height:22px;}


/*修改*/
.px_li1{}
.px_li1 dl{ padding:5px 0px 8px 0px; clear:both; overflow: hidden}
.px_li1 dl dt{ background:url(../images/peix_r2_c3.jpg) no-repeat; width:72px; height:30px; float:left; font-size:14px; color:#fff; line-height:30px; padding-left:10px; text-align:left}
.px_li1 dl dd{ width:430px; float:right; text-align:left; padding-top:4px; overflow:hidden}
.px_li1 dl dd  a{width:105px; float:left; }

.w336{ position:relative;}
.w336 em{ display:none; height:0px; overflow:hidden}
.w336:hover em { width:150px; line-height:50px;  background:#fff; height:auto; display:block; position:absolute; z-index:2000000; left:150px; top:50px; padding:20px;   border-radius:5px; -webkit-box-shadow:0 0 10px #0CC;  
  -moz-box-shadow:0 0 10px #f0f1f0;  
  box-shadow:0 0 10px #f0f1f0;transition:all .7s;
	-webkit-transition:all .7s;
	-moz-transition:all .7s;
	-o-transition:all .7s;
	-ms-transition:all .7s; }

.t1{ background:url(../images/12.png) no-repeat; width:17px; height:25px; text-align:left; padding-left:36px; line-height:22px; color:#fff; display:block; float:right; font-size:12px;}
.t1 a:hover{ color:#fff}

/*订单页面*/
.sp_list{ border-bottom:3px solid #b00305;}
.sp_list li{ float:left}
.sp_list_r1 { width:600px; }
.sp_list_r2 { width:300px; }
.sp_list_r3 { width:214px; }

.bg_g{ background:#f7f6f6; padding:20px}

.goods_gds {
    height:35px;
    display:block;
    overflow:hidden;
}
.goods_font {
    display:block;
    float:left;    
    height:15px;
    margin:8px 3px 0;
    font-size:12px;
}
.goods_cut {
    border:0 none;
    cursor:pointer;
    display:block;
    float:left;
    font-size:0;
    height:15px;
    line-height:0;
    margin:8px 3px 0;
    width:15px;
    padding-right:0px;
    _padding-right:0px;
}
input.goodsBuyBox,input.number {
    border:1px solid #DDDDDD;
    float:left;
    font-size:10px;
    height:18px;
    line-height:18px;
    margin:5px 5px 5px 5px;
    padding:0;
    text-align:center;
}
.goods_add {
    border:0 none;
    cursor:pointer;
    display:block;
    float:left;
    font-size:0;
    height:15px;
    line-height:0;
    margin:8px 3px 0;
    width:15px;
}
.goods_number_tit{
    display: block;
    background:none;
    text-align:left;
    padding-left:5px; 
}
.bg_g li{ text-align:left; line-height:50px; border-bottom:1px dashed #ccc; overflow:hidden}
.tjdd{ width:150px; height:35px; background:#b00305; line-height:35px; font-size:16px; text-align:center; border:none;  color:#fff; margin:30px 0px; overflow:hidden}

.pingjia{ background:#f6f6f6; border:1px solid #ccc; padding:30px; width:1150px; margin-bottom:150px; overflow:hidden}
.p_jia{ width:1033px; background:#fff; border:1px solid #eee; text-align:left; line-height:24px; padding-left:10px; height:100px}


.dingd_bg{ background:#f6eee4; overflow:hidden; }
.zf  li{ float:left}
.bg11{ width:200px; height:36px; background:#B90006; text-align:center; line-height:36px; font-size:18px; color:#fff; display:block; border-radius:2px;}

.w110{ width:100%; background:#fff; overflow:hidden; position:fixed; top:0px; left:0px; z-index:111111111111111111111111111; margin-bottom:194px}

.lj{ width:100%; height:460px; display:block;}